[2017-05-31 02:08] jaypipes opened #1 "Add CPU module"
Need a CPU module that exposes information about number of physical cores, threads, sockets, speed, vendor/model, and sibling CPU sets.

[2017-05-31 02:11] jaypipes opened #2 "Add topology module"
We need a module that provides inspection around the topology exposed by the host system, including NUMA cells, sockets, memory affinity, cache sizing, etc

[2017-05-31 02:14] jaypipes opened #3 "Set up build infrastructure"
Add some simple Makefile infrastructure for doing builds of ghw in containers or in a local bin/ directory.

[2017-05-31 23:56] jaypipes commented on #1
This is now complete.

[2017-05-31 23:56] #1 closed

[2017-06-01 20:38] jaypipes opened #4 "Add GPU module"
Need to add a module that inspects GPU information, including GPGPUs, PGPU groups, VGPU types, features, etc

[2017-06-01 20:39] jaypipes opened #5 "Add network module"
Implement a net module that inspects network interface controllers, features exposed by those NICs.

[2017-06-01 20:44] jaypipes opened #6 "Create simple CLI program"
Mostly to serve as example usage of the library, create a simple CLI program that can be used to print information about the host hardware.

[2017-06-01 21:18] #6 closed

[2017-06-11 16:37] #2 closed

[2017-06-19 23:04] jaypipes opened #7 "Discover network device capabilities"
Instead of looking at the direct output of `ethtool -k` for network capabilities (and treating them as strings), we should have an enum for network capabilities.

[2017-08-15 11:32] JamesCullum opened #8 "Unable to use ghw on Windows"
The package sounds good, but I am unable to use it (Win10 x64). There are no instructions, so I simply ran `go get github.com/jaypipes/ghw`, which leads (during install & execution) to

[2017-08-15 12:03] jaypipes commented on #8
Hi! Thanks for filing an issue, James :) I have only written the Linux-specific code so far.

I don't currently have a Win10 x64 box to test on (currently out of office with only a Linux laptop...) and therefore won't be able to write the code needed for Windows support for at least a couple weeks. Apologies!

Upon my return, I will try to complete Windows support for ghw.

[2017-08-15 13:27] JamesCullum commented on #8
Thanks for the quick reply! Best of luck for the patches 👍

[2017-09-16 04:17] jaypipes opened #9 "Initial Windows support"
Have never done any Golang development on Windows. Would be a great thing to get at a minimum CPU and memory information done on Windows.

[2017-10-20 22:32] jaypipes opened #10 "Use gofmt"
Even though I am not a fan of the canonical Go code style, ghw is a Go library and should follow go code formatting guidelines. Therefore, I need to update my vimrc for .go files and use gofmt for reformatting the existing files.

[2017-10-21 19:36] #10 closed

[2017-12-25 13:49] jaypipes opened #11 "segfault listing CPU cache information"
example.go:

[code]

results in:

[code]

[2017-12-25 13:51] #5 closed

[2017-12-25 13:52] #3 closed

[2017-12-25 15:03] jaypipes opened #13 "Support ASCII block diagram for cache/topology information"
After the fix for Issue #11, it became apparent that the String() output for `ghw.MemoryCache` was less than ideal for visualizing the interconnection between various caches on the CPU socket:

[code]

Let's support something a bit more visually useful. Something like this would work:

[code]

[2017-12-25 15:06] jaypipes opened #14 "topology and cpu modules do not match"
Noticed while fixing Issue #11

The cpu module reports a different core count than the topology module.

[2017-12-25 18:34] #14 closed

[2017-12-27 18:43] #11 closed

[2018-05-11 20:14] jaypipes opened #17 "Makefile-ify the library"
Need to add a Makefile that will build the library and `ghwc` CLI tool properly and run tests

[2018-05-11 20:43] #17 closed

[2018-06-21 17:27] antylama opened #19 "Block device serial number detection"
Function DiskSerialNumber return only vendor name when parse disks like this:

`/dev/disk/by-id/ata-AXIOMTEK_Corp.-FSA032G300MW5T-H_BCA11704240020001`

or

`/dev/disk/by-id/ata-WDC_WD10JFCX-68N6GN0_WD-WX31A76R3KFS`

split by '-', return only secound part ('AXIOMTEK_Corp.' or 'WDC_WD10JFCX').

[2018-06-21 18:16] jaypipes commented on #19
Hi!

In the above ATA disk examples, what is the serial number of the disk? Is it the last '-' separated component? Or is it everything after the vendor name?

In other words, for the above path:

`/dev/disk/by-id/ata-AXIOMTEK_Corp.-FSA032G300MW5T-H_BCA11704240020001`

is the serial number `FSA032G300MW5T-H_BCA11704240020001` or is the serial number `H_BCA11704240020001`?

Similarly, for the secon

[2018-06-21 21:50] antylama commented on #19
Hi!

Axiomtek, checked few more tools:

user@ubuntu:~$ sudo hdparm -I /dev/sda | grep -E "Number"
Model Number:       AXIOMTEK Corp.-FSA032G300MW5T-H
Serial Number:      BCA11704240020001

user@ubuntu:~$ sudo lsblk --nodeps -o name,serial
/dev/disk/by-id/ata-AXIOMTEK_Corp.-FSA032G300MW5T-H_BCA11704240020001
NAME SERIAL
sda  BCA11704240020001

user@ubuntu:~$ inxi -Dxx
Drives:    HDD Total Size: 32.

[2018-06-22 08:51] antylama commented on #19
Text on AXIOMTEK sticker:

[code]

[2018-06-26 23:06] #19 closed

[2018-07-06 14:06] jaypipes opened #24 "Documentation for the new PCI module"
Need to add good docs to the README about using the super-useful new PCI module.

[2018-07-08 14:41] jaypipes opened #26 "implement `ghw.PCIGetDeviceInfo(address string) *PCIDeviceInfo`"
Need to implement a function that returns PCI device, product, vendor and class information given a PCI address:

[code]

[2018-07-10 02:37] #26 closed

[2018-07-10 02:37] #24 closed

[2018-07-13 15:42] jaypipes opened #28 "List local PCI devices"
Add a function to `ghw.PCIInfo` that will allow the user to list the local devices on a particular bus (or on all buses)

Something like this:

[code]

[2018-07-20 11:38] jaypipes opened #30 "No documentation for how to grab CPU feature flags"
We currently collect CPU feature flags in the `ghw.CPUInfo.Processor.Capabilities` struct field, however there are no docs or example code that shows how to access or print these capabilities.

[2018-07-20 12:36] #30 closed

[2018-07-22 14:31] jaypipes opened #32 "Remove "Info" suffix on most PCI structs"
I added a variety of structs in the pci module with "Info" suffixes. Other than the PCIInfo struct, the other structs should *not* have that suffix. This is a consistency issue.

[2018-07-22 14:32] jaypipes opened #33 "Rename `ghw.Node` to `ghw.TopologyNode`"
`ghw.Node` is too abstract. It refers to a specific processor package, so let's rename it to `ghw.TopologyNode` or possible `ghw.ProcessorPackage`.

[2018-07-22 15:10] #32 closed

[2018-07-22 15:29] jaypipes opened #35 "memory cache order in output of `Node.String()` non-deterministic"
[code]

[2018-07-22 16:07] #35 closed

[2018-07-22 16:08] #33 closed

[2018-07-31 23:49] #28 closed

[2018-07-31 23:51] #4 closed

[2018-07-31 23:51] jaypipes commented on #7
Moving this to 0.2 release.

[2018-08-01 00:02] jaypipes opened #38 "ghw needs a mascot/logo"
OK, it's not like we *need* a logo or mascot. :)

But it would be awesome if ghw got a cool little mascot or logo.

Comments and suggestions more than welcome! If I made one, it would end up looking like a lame stick-figure...

[2018-08-08 01:26] ykcab commented on #8
@jaypipes I wanted to use your library, but this issue persists still (on macOS 10.13.6 17G65)
Are these function meant for windows?
[code]
As of my understanding so for we are missing these functions. I could not see them function defined anywhere in the entire library unless we do not have the latest version.
I also tried to removed them but I get a different result. I see that you named, for ex

[2018-08-08 06:49] retr0h commented on #8
Feels like we want to create an interface so unsupported OSes receive an error to implement vs undefined.

[2018-08-08 12:45] jaypipes commented on #8
I don't have any Windows machines at the moment. I do however have a Macbook (that I hate using but fuck it, it's there so might as well test on it).

I'll see what I can do about getting something working for Mac today.

[2018-08-08 13:23] jaypipes opened #39 "Unable to use ghw on MacOS"
Everything written for ghw so far is Linux-centric (since that's what I work with).

It would be great to have ghw work on MacOS/Darwin. I think I can do that with minimal changes, since OSX is basically a Linux/BSD-like system

[2018-08-08 13:54] jaypipes commented on #8
@ykcab it's mostly that I've got the following in all of the XXX_linux.go files:

[code]

that needs to change to:

[code]

and I'm going to need to rename a few files it seems, from *_linux.go to something else, since it looks like go's build process ignores the `// +build` header line if the source file is named with a _linux.go suffix (it just assumes the file is only for Linux builds).

[2018-08-08 13:58] jaypipes commented on #8
And of course, there's different ways of getting all the CPU, memory, block device information on Darwin than Linux, so I'll probably need to write custom *_darwin.go files it looks like :(

[2018-08-08 14:08] ykcab commented on #8
If when we do "go run main.go" we could first check the OS platform before
building, in this case it will not throw fail the entire program.

On Wed, Aug 8, 2018, 9:58 AM Jay Pipes <notifications@github.com> wrote:

[2018-08-08 15:27] ykcab commented on #39
referencing to the last response #8, I will do a pull request once I am certain what I have works for macOS.

[2018-08-09 04:21] retr0h opened #42 "Move files into ghw directory"
If we move the current files which implement the `ghw` package into `ghw/` directory, we can then move the `ghwc/main.go` to top level main and no longer require the ghwc directory.  #41 partially implements this, by moving vendor to top level.

[2018-08-09 15:55] jaypipes commented on #42
I am hesitant to move the CLI tool into the top level because ghw is intended as a library first and foremost. The ghwc tool is merely an example of the library's usage. I wanted to keep the dependencies for the library at a minimum (or none at all) and that's why I had the vendor directory inside the ghwc/ directory -- to keep the deps for the example tool separate from the library itself. Make s

[2018-08-09 18:50] retr0h commented on #42
Yeah, makes sense.

[2018-08-10 06:34] #42 closed

[2018-08-15 23:54] jaypipes opened #43 "Split out pciids DB processing into separate library"
The pciids database file processing is generically useful outside the confines of `ghw`, so I'd like to split it out and make it a dependency of `ghw`

[2018-08-25 14:12] thehowl commented on #8
Isn't this pretty much the same as #9?

In any case, I'm gonna take a stab at this, I'll try getting most of the current API to be working on windows as well.

[2018-08-25 14:26] thehowl opened #45 "Correctly parse the mountpoint in /etc/mtab"
Mountpoint with spaces, tabs, newlines exist. The solution to that is octal encoding:

From: https://www.gnu.org/software/libc/manual/html_node/mtab.html

I think it's generally safe to assume that `mtab`, being generated and not hand-written, will usually only contain these exceptions, although it's probably best to check if `getmntent` in libc parses the mountpoint generically (ie. by converting

[2018-08-27 00:30] jaypipes commented on #45
Cool, thanks for letting me know, @thehowl :) I'll see what I can do to put some tests together and correct. Thanks, again!

[2018-08-27 12:01] jaypipes commented on #8
That's awesome, thank you @thehowl :) I still don't have any Windows images or VMs so I haven't been able to test anything on Windows.

[2018-08-27 12:01] jaypipes commented on #8
And yes, I'll close out #9 since it's duplicative of this

[2018-08-27 12:01] jaypipes commented on #9
dup of #8

[2018-08-27 12:01] #9 closed

[2018-08-31 00:58] jaypipes commented on #43
OK, so I've split out the querying and pci-ids database parsing functionality into a separate library:

https://github.com/jaypipes/pcidb

Next step is to modify ghw to use this library for PCIIDS db querying

[2018-08-31 01:06] jaypipes opened #46 "Move from govendor to dep"
The Golang community has now coalesced around https://github.com/golang/dep for vendor dependency management. We no longer need to use govendor (great though it may be!) and should align with the community's choice of dependency management tooling.

[2018-08-31 01:32] jaypipes commented on #46
@retr0h if you're interested in tackling this, I would welcome it :)

[2018-08-31 01:32] retr0h commented on #46
+1

[2018-08-31 13:00] charles-dawes opened #48 "Support for Windows"
When trying to run "go get  github.com/jaypipes/ghw" I get the following output:

PS C:\Users\cdawes\go\src\GoMonitoring> go get  github.com/jaypipes/ghw
github.com/jaypipes/pcidb
..\src\github.com\jaypipes\pcidb\pci.go:62:11: db.load undefined (type *PCIDB has no field or method load)

[2018-08-31 13:25] jaypipes commented on #48
@charles-dawes for ghw, the Windows support issue is Issue #8.

I've created a similar issue in pcidb library here: https://github.com/jaypipes/pcidb/issues/1

I'm going to close this issue out since it's a duplicate of Issue #8

[2018-08-31 13:25] #48 closed

[2018-09-03 12:15] jaypipes commented on #45
@thehowl Hi! Please let me know if PR #50 addresses this issue. Thanks!

[2018-09-03 14:34] jaypipes commented on #43
This is now done.

[2018-09-03 14:34] #43 closed

[2018-09-03 18:16] #45 closed

[2018-09-04 05:12] retr0h opened #51 "Correct lint errors"
We have a lint target in the Makefile that fails in wonderful ways.  We should fix those lint errors or remove the target.  Ultimately, it would be nice to add to the `test` target.

[2018-09-04 05:29] retr0h commented on #38
Same here...

Totally dorky but I'm no artist :)

<img width="388" alt="screen shot 2018-09-03 at 10 28 08 pm" src="https://user-images.githubusercontent.com/9895/45011691-ae74a480-afc8-11e8-958b-a9d0d309af92.png">

[2018-09-04 12:03] #46 closed

[2018-09-04 12:05] jaypipes commented on #38
LOL, well it's definitely better than I could do, @retr0h! That said, the "W" kind of looks oddly phallic to me...

[2018-09-05 12:57] jaypipes opened #53 "gofmt output includes vendored code"
When running `make test` I'm now seeing the following:

[code]

which makes it difficult to read the test output frankly.

We should:

* Remove the processing of the vendored code from the gofmt processing
* Hide the output of this (remove the @ prefix on this line in the Makefile)

[2018-09-05 12:57] jaypipes commented on #53
@retr0h fancy handling this one?

[2018-09-05 18:07] retr0h commented on #53
@jaypipes yeah will fix it.

[2018-09-18 07:11] chiptus opened #56 "Support alternate root mountpoints"
Hi,

First, thanks for this robust solution, I'm hoping to use it,
I have a specific use case where I want to run this library inside a docker container to get info about the host, and in that case, if understand correctly how your library works, the paths should be changed to where I bind the host folders to (e.g /host/proc). Do you think it's a doable change - to make the default paths changeabl

[2018-09-18 09:15] chiptus commented on #56
it seems like the container share a lot of info with the host and thus `pci.listdevices` and on the container give almost the same info as the host.

[2018-09-18 10:13] chiptus opened #57 "block is not consistent with `df`"
For some reason, while I have only 256GB, running the block example code shows I have 2TB.

running `df -h`:
![screenshot from 2018-09-18 13-10-48](https://user-images.githubusercontent.com/1381655/45680728-4e433e00-bb44-11e8-8e7c-584f3bcd072e.png)

running the following:
[code]

![screenshot from 2018-09-18 13-12-20](https://user-images.githubusercontent.com/1381655/45680778-8185cd00-bb44-11e8-8a

[2018-09-18 12:10] jaypipes commented on #56
Hi @chiptus! Thanks for trying out ghw :) I'm a little uncertain what you mean by changing the default folders. Maybe you could elaborate on your request?

The Travis CI system which tests each commit to ghw actually runs in a container, so I'm pretty sure that whether or not the ghw is installed in a container, a virtual machine, or on baremetal should not matter. Certainly, if it does matter, th

[2018-09-18 12:28] jaypipes commented on #57
Hi @chiptus, that's odd. It seems to be indicating that ghw thinks the output of your first disk's `String()` method is "204848114432". I have no idea why that would be, considering `ghw.Disk.String()`'s implementation looks like this:

[code]

In order to diagnose what's going on, could you paste the output of the following on your machine please?

[code]

Thanks in advance!
-jay

[2018-09-18 13:28] deviantony commented on #56
Hi @jaypipes

I'm working with @chiptus on this. Our goal would be to use the `ghw` library in a binary running inside a container to retrieve information about the host where the container is running.

Our assumption was that `ghw` reads its information from specific files on the filesystem (such as `/proc/cpuinfo` for CPU information).

Thus, our idea was to bind-mount the `/` filesystem of the

[2018-09-18 13:46] jaypipes commented on #56
Ah, @deviantony gotcha. Alrighty, lemme push something up later today that you can pull and test with, eh?

[2018-09-18 13:48] deviantony commented on #56
@jaypipes sounds good ! Will be waiting for the update :-)

[2018-09-18 14:46] jaypipes commented on #56
OK @chiptus and @deviantony, please give https://github.com/jaypipes/ghw/pull/58 a spin. That patch will enable you to set GHW_CHROOT to the host bind-mount path and should give you what you need. Lemme know what you think.

[2018-09-19 03:45] deviantony commented on #56
@jaypipes thanks ! We'll test it ASAP

[2018-09-19 20:29] jpo-joyent opened #59 "More reliable vendor/serial/path extraction via udev"
Ghw is currently relying on udev's population of `/dev/disk/by-id/...` to extract serial information (see https://github.com/jaypipes/ghw/blob/85a00ff/block_linux.go#L80-L129). This means two things:
- parsing serial numbers themselves containing `-` or `_` can lead to incorrect results
- we already have a dependency on udev

Udev also exposes this information in a less-ambiguous less-fragile-to-p

[2018-09-19 20:46] jaypipes commented on #59
@jpo-joyent Hi! This is awesome information! :) Wish I had known about it earlier.

I'll see what I can do about using these new filepaths for grabbing information about block devices (and other devices).

Thanks so much!

[2018-09-20 10:51] chiptus commented on #57
- `cat /sys/block/sda/queue/physical_block_size`: 4096
- `cat /sys/block/sda/size`: 500118192
- `cat /sys/block/sda/vendor`: `No such file or directory`

[2018-09-20 12:30] jaypipes commented on #57
@chiptus OK, I figured it out (I think!). Turns out Linux *always* thinks the disk sector size is 512 bytes and what is stored in /sys/block/sda/size is the number of 512-byte sectors (according to Linux that is). Your *actual* physical block size is 4K, not 512 bytes, and `ghw`'s code is erroneously using the actual physical block size times the /sys/block/sda/size amount to calculate the total p

[2018-09-23 02:16] chiptus commented on #57
your pr fixed it, this can be closed, unless you have other things you want to try?

[2018-09-24 12:37] jaypipes commented on #57
Thanks @chiptus! :)

[2018-09-24 12:37] #57 closed

[2018-09-26 13:38] jaypipes commented on #56
Closing this issue out. Let me know if you find any further issues using ghw in containers! Thanks! :)

[2018-09-26 13:38] #56 closed

[2018-09-28 20:09] jpo-joyent opened #65 "numa_node for GPUs treated as a list... is it actually one?"
At least for normal PCI devices, numa_node is just a single int.

See here: https://github.com/torvalds/linux/blob/v4.18/drivers/pci/pci-sysfs.c#L315-L350

Are GPUs somehow special due to SLI or CrossFire or whatever in that they can actually appear local to multiple numa nodes? Can you confirm this in code someplace?

If not, `gpuFillNUMANodes()`'s parsing could be simplified, and maybe GraphicsC

[2018-09-28 20:10] jpo-joyent commented on #65
Also, should maybe be an int instead of a uint32, since -1 seems to be a valid value exposed by the kernel.

[2018-09-28 20:14] jpo-joyent opened #66 "Consider checking in a static fs hierarchy for tests"
Currently, `go test` runs against your local machine, and some tests fail depending on what hardware that machine actually has.

It might be a good idea to check in a single fs hierarchy to run tests against (using GHW_CHROOT), and could also serve as a handy reference of file formats for contributors without access to various hardware.

[2018-10-04 14:17] jaypipes commented on #65
FYI, @jpo-joyent I'm not ignoring you on this one... it's just that $work has gotten in the way :)

[2018-10-04 14:18] jaypipes commented on #65
And yes, I agree fully with the int vs uint32 idea. You can feel free to push a patch which changes all such identifiers to straight ints instead of uint32s.

[2018-10-11 14:31] jaypipes commented on #66
I think this is an excellent idea, @jpo-joyent. I'll try to modify our test setup accordingly and make use of the `GHW_CHROOT` functionality to place a temporary filesystem down for the tests to use.

[2018-10-12 19:24] codenoid opened #70 "get hash that calculated from all hardware identity"
example :

ram 1 serial id + processor id + ghw.Disk.SerialNumber = md5 hash

[2018-10-12 19:40] jaypipes commented on #70
By "identity" you are referring to the combination of all the hardware's functionality, resources (inventory) and other things?

What would this hash/identity be useful for? Just for determining if the hardware profile had changed?

[2018-10-13 05:08] icholy opened #72 "GoDoc strings"
Since the documentation is separate from the source, the standard tooling can't leverage it (godoc, gocode, sourcegraph, etc...). Is there a reason the docs are not in the source?

[2018-10-13 14:42] jaypipes commented on #72
Hi @icholy! No reason other than my lack of familiarity with the Go documentation tooling. Would love some assistance on this if you're interested in helping out?

I like having lots of good documentation in the README.md file, so I wouldn't want to get rid of that. But certainly I'd also like to align source code documentation with the Go tooling needs.

[2018-10-14 12:57] jaypipes commented on #70
Hi again @codenoid. I gave this feature request more thought this weekend and I've decided that this isn't something I want to include in `ghw` itself. You could, however, implement this in your application code yourself, basically looking at the different outputs of `ghw` and creating a hash identifier for the components of the system that you want to ensure are similar between hosts.

I'm going

[2018-10-14 12:57] #70 closed

[2018-10-16 09:34] jackwilsdon commented on #51
Some of these fixes are breaking changes, such as `Id` → `ID` — what should be done about those?

[2018-10-16 13:48] jaypipes commented on #51
@jackwilsdon Hi! Great question :)

I think probably the best thing to do would be to *add* a new ID field to the appropriate places, keep the old Id fields in place, but mark them as deprecated in 0.1 and will be removed entirely in 0.3 release.

Thoughts?

[2018-10-16 20:54] #7 closed

[2018-10-18 15:09] #65 closed

[2018-10-19 14:43] jaypipes opened #78 "Serialize information to JSON and YAML"
Add ability to serialize any collected information from the `ghw` `*Info` structs to JSON and YAML.

[2018-10-21 14:50] jaypipes opened #81 "Use `pcidb` 0.2"
This predominantly will entail switching any reference to `Id` fields to `ID` fields, since `pcidb` 0.2 added the `ID` fields and will deprecate the old `Id` fields in 1.0.

[2018-10-23 08:29] #81 closed

[2018-10-25 08:13] gedw99 commented on #78
That would be really useful !

[2018-10-28 11:42] pwFoo opened #85 "Discover hardware driver / kernel modules?"
Hi,
I searching for a way to discover needed kernel modules for all the hardware / nic / disk.

Is there a way to discover driver which needed to use the hardware device(s)?

[2018-10-28 12:36] jaypipes commented on #85
Hi @pwFoo!

I've only really investigated getting the GPU driver information for the graphics cards module, just because that's the only time I've needed the driver information to interact with anything in hardware -- because hardware vendors for graphics cards can't seem to produce software that is sane and well-documented :/

Everything else has been well-abstracted through standard interfaces a

[2018-10-28 13:03] pwFoo commented on #85
I play with a Go based system and need some basic init tasks (most important NIC and HDD) to set up Internet connection and mount a hdd partition.

It was an easy task with shell / bash with much examples. Haven't found Go examples and commands not support needed flags.

I'm new with Go and so it would be great to have a tool which do that stuff! 😑

[2018-10-29 04:00] pwFoo commented on #85
The shell / bash way to discover (all) needed drivers.
[code]
Sometimes it needs to be run twice because of dependencies.

But I don't know how to filter / optimize for NIC or HDD only.

[2018-11-11 08:09] chiptus opened #86 "Allow configuration options to be passed to module constructors"
It seems a bit weird to set GHW_CHROOT as env var. we might have a few containers that each of them has a different CHROOT, so would like to have the option to set it for each invocation. an env var is seems too global. Maybe you can have a options object that is passed to each of the root methods (like `ghw.CPU()`, and then check if it's missing the chroot then check for the env var and if it's m

[2018-11-11 21:44] retr0h commented on #86
Seems like you are still having to change something regardless.  Either the env var or the proposed cli option.

[2018-11-12 12:18] jaypipes commented on #86
Hi @chiptus! Hope you had a good weekend! :)

I need to better understand your use case, I think, but as far as I can tell, if you had multiple containers that you wanted to set the `GHW_CHROOT` to a different value, you'd start those containers with different `GHW_CHROOT` environ variables.

For instance, if I was using Docker, I'd use the `-e GHW_CHROOT=<some path>` flag when executing `docker r

[2018-11-12 20:34] deviantony commented on #86
Hey @jaypipes @retr0h

In my opinion it does not really make sense to use environment variables to alter the behavior of a library. I think that it would be cleaner to just pass a parameter to the "constructor/accessor" of the library instead.

Why would we want to alter the entire execution context (via an environment variable) just to alter the execution of a specific part of a program? Using an

[2018-11-12 20:57] jaypipes commented on #86
@deviantony I guess I disagree with you on this one -- or at least, the UNIX way is to allow software libraries (as well as programs) to be configured via environ variables. Plenty of C libraries use environs variables like `LANG` or `PATH` or `LC_TIME` to alter their output or behaviour.

Having said that, I'm certainly not opposed to doing what you suggest: having an `Options` struct be passable

[2018-11-12 22:16] deviantony commented on #86
@jaypipes thanks for considering this !

Indeed that would be a neat implementation, we would then use it like this:

[code]

[2018-11-12 22:21] jaypipes commented on #86
Yup, that's exactly what I was thinking. OK, I'll work on that. :)

[2018-11-13 06:10] chiptus commented on #86
@jaypipes, that's exactly what I was thinking. Thanks!

On Tue, Nov 13, 2018, 00:44 Jay Pipes <notifications@github.com wrote:

[2018-11-13 07:29] chiptus opened #87 "Update PciDB to next version"
my fix to pcidb added the ability to change chroot, together with fixing a bug that paths were ignored.
I want to make a PR but I guess the next version of pcidb should be released first.

[2018-11-13 12:37] jaypipes commented on #86
Instead of adding a `XXXWithOptions()` function for each module, what I think I'm going to do is modify each module constructor to accept zero or more `Options` struct pointers. I will then create a `ghw.WithChroot()` function that will return a filled-in `Options` struct pointer with a chroot override.

So, the interface for overriding will look like this instead:

[code]

[2018-11-13 15:15] jaypipes commented on #87
Yup, I want to merge (in pcidb) the new Options-based New() PR along with a change to remove the "PCI" prefix from the structs in pcidb. I will then be cutting the 0.3 release of pcidb (hopefully today). After that, I'll start on the work to use pcidb 0.3 in ghw.

[2018-11-13 16:07] chiptus commented on #87
great, thanks!

[2018-11-15 14:51] #86 closed

[2018-11-15 16:10] chiptus commented on #87
totally works! thanks @jaypipes

[2018-11-15 17:02] jaypipes commented on #87
rock on :)

[2018-11-15 17:23] jaypipes opened #90 "Move ghwc up to $ROOT/cmd"
We should just move the example ghwc CLI tool up to a `cmd/` directory from the root and be done with it.

Then, add a Dockerfile to build just the `ghwc` tool into a docker container, showing how to build `ghwc` into a small, multi-stage builder image.

[2018-11-15 17:30] #87 closed

[2018-11-19 21:21] jaypipes opened #92 "Grab information on VFs for SR-IOV PFs"
It's possible to retrieve the number of virtual functions (VFs) on an SR-IOV physical function (PF) on Linux by querying the following pseudo-files:

 * `/sys/class/net/$NIC_NAME/device/sriov_numvfs`: The number of active VFs for the PF
* `/sys/class/net/$NIC_NAME/device/sriov_totalvfs`: The maximum number of VFs the PF can accomodate

[2018-11-28 00:37] jaypipes opened #94 "Discover information on RAID controller"
Information to grab about any RAID controller installed on the host:

* Whether the RAID implementation is software or firmware-based
* What RAID levels are supported
* What firmware/drivers are installed for the RAID controller

[2018-12-10 18:28] stdatiks opened #96 "Grab baseboard info"
Need some baseboard info, like in `dmidecode --type baseboard` output:
[code]

[2018-12-11 10:12] jpo-joyent commented on #39
Disks done (w/ plist dep) in https://github.com/jaypipes/ghw/pull/97 / https://github.com/jaypipes/ghw/pull/98.

[2018-12-11 20:22] jpo-joyent commented on #39
Not sure how stable it actually is. Let's hope you're right :)

There's never been a single release, so I pinned the arbitrary latest commit in Gopkg.toml

[2018-12-17 15:47] jaypipes commented on #96
Hi @stdatiks,

The issue with `dmidecode --type baseboard` is that it requires root privileges, which `ghw` tries very hard to avoid needing.

Can you tell me what specifically you are trying to determine about the motherboard? Is there a particular piece of the information listed above that you are looking for? Perhaps the vendor/product information only?

Or is your application simply trying to

[2019-01-27 13:09] jaypipes opened #106 "Make bus types enum constants instead of strings"
The bus types are strings with a mix of uppercase and lowercase runes. Make them constant enums instead.

[2019-01-28 16:56] yrobla commented on #78
Agree, i'd like to have that functionality, glad to help if needed!

[2019-01-29 06:50] stdatiks commented on #96
Ok, I see.

I need something like `Serial Number`, `Manufacturer` and `Product Name` in `dmidecode` output. But direct using call of `exec.Command("dmidecode", "--type", "baseboard").Run()` is not too good.

I thought your library was using something like https://github.com/digitalocean/go-smbios. But I looked at the source and realized that I was wrong.

[2019-01-29 14:25] jaypipes commented on #96
From the digitalocean/go-smbios library README, you'll note the following:

"Note that retrieving SMBIOS information is a privileged operation. On Linux, you may invoke the binary as root directly, or apply the CAP_DAC_OVERRIDE capability to enable reading the information without superuser access."

At this time, ghw tries very hard to do things without needing superuser privileges, and that means

[2019-01-29 14:31] jaypipes opened #108 "Consider retrieving privileged device/system information"
One of the design constraints of `ghw` is that we retrieve information that unprivileged users can retrieve and do not attempt to retrieve information from superuser-restricted areas (like `/sys/firmware/dmi/tables/DMI` on Linux for example).

There have been a number of requests, however, to have `ghw` dig for privileged information about baseboard information (Issue #96), certain firmware, hardw

[2019-01-29 21:00] jaypipes commented on #106
@jpo-joyent @yrobla @pwFoo @blp1526 would you all mind doing a quick review of this patch please?

If you are using `ghw` as a library (versus the `ghwc` CLI tool) and are referencing the `ghw.Disk.BusType` field, this patch will end up breaking your code if you haven't pinned your `ghw` dependency to 0.2 release or prior. Can you let me know if you're OK with this? `ghw` is still in a fluid pre-1

[2019-01-30 09:21] yrobla commented on #106
Change is ok for me . We are not yet using library (although we want to) , but using ghwc CLI tool.

[2019-01-30 12:33] #106 closed

[2019-01-30 13:07] blp1526 commented on #106
LGTM.

(This `Makefile` has `make lint`, and it warns us "don't use ALL_CAPS in Go names; use CamelCase (golint)" at `bus_type.go`. If `ghw` keeps using `gometalinter`, I think that it is better to modify the warning lines.)

[2019-01-30 13:29] jaypipes opened #110 "Allow disabling of WARNING messages to stderr"
Allow the user to disable the WARNING messages that are written to stderr for things like not being able to determine total usable memory due to permissions issues reading syslog.

Have `ghw` look for a `GHW_DISABLE_WARNINGS` environs variable and don't write warning messages when that environs variable is set.

[2019-01-30 13:40] jaypipes commented on #78
@gedw99 @yrobla OK folks, I'm just wrapping up this work now. Here's what it looks like in practice:

[code]

I'll be pushing a pull request shortly for your review. Thanks for your patience!
-jay

[2019-01-30 16:23] jaypipes opened #111 "`ghw.NICCapability.CanChange` field broken"
The `CanChange` field of the `ghw.NICCapability` struct is supposed to contain whether or not the capability may be enabled by a user. However, it is not properly calculated.

The code used to determine this field looks like this:

[code]

however the lines being examined have "[fixed]", not "fixed". So, we need to change the above to this:

[code]

[2019-01-30 17:07] jaypipes commented on #78
@gedw99 if you have a chance, please test the code in PR #112 and let me know if that meets your needs and expectations.

Thanks!
-jay

[2019-01-31 01:48] jaypipes commented on #78
OK, so 95% of this has now been completed with the merge of PR #112. Remaining items are around the PCI device information serialization (which will be dependent on the pcidb library gaining serialization support first, see this issue there: https://github.com/jaypipes/pcidb/issues/16) along with adding some tests.

[2019-01-31 01:48] #78 closed

[2019-01-31 08:07] #111 closed

[2019-01-31 08:21] #110 closed

[2019-01-31 10:21] jpo-joyent commented on #106
Yep, broke my code but was trivial to fix. Thank you for giving us a heads up! :)

[2019-02-04 22:55] jaypipes opened #117 "Differentiate between device bus type and disk drive type"
Right now, on Linux for the block device module's `ghw.Disk.BusType` field, we are parsing the filenames in `/sys/class/block` and determining the "bus type" based on whether the disk starts with an "s" (SCSI), an "h" (IDE), a "v" (VIRTIO) or "nvme" (NVMe).

However, as PR #116 illuminates, this actually is NOT the *bus type*, but rather, it is the *disk type*. The *bus* type is different, and typ

[2019-02-06 09:45] jmozah opened #118 "Compilation error on Mac OS"
When i try to compile a simple program,

[code]
i get a compilation error like below

[code]

I am using mac os Mojave

[2019-02-06 13:59] jaypipes commented on #118
Hi! Please see #116 and #117. We're trying to figure out how to determine the disk and bus type on MacOS properly...

[2019-02-06 13:59] #118 closed

[2019-02-08 19:52] jaypipes commented on #117
OK, so I've been reading through a whole bunch of Wikipedia articles on disk drives and computer buses. And unfortunately, the terminology used by the industry is remarkably inconsistent and confusing, to the point where I'm thoroughly frustrated trying to come up with terms to describe block storage devices.

The terms "bus", "bus type", "interface", "bus standard", "interface standard", "storage

[2019-02-08 22:13] j-griffith commented on #117
IMO they're mixing the definition of hardware and software interfaces a bit there.  SATA, SCSI, PATA, IDE for example are standards, protocols for how to communicate with the device so IMO more like an interface from a software perspective.  The thing is, you can have things like scsi over FC, ATA over Lan, iSCSI (scsi over tcp/lan)... so in storage it's not enough to describe the protocol OR the

[2019-02-09 14:57] jaypipes commented on #117
@j-griffith you rock, as usual, my friend :)

OK, so after reading your commentary, what do you think about this kind of approach?

1. I would keep the proposed `ghw.DriveType` enums (for HDD, FDD, ODD, and SSD) because I think that's a good "short-cut" for library users to identify rotational versus solid-state quickly.

2. Introduce a new `ghw.StorageProtocol` enum containing the following const

[2019-02-10 20:19] jaypipes commented on #117
@j-griffith @jpo-joyent OK, I went with a slightly different strategy for describing these concepts. Added a `ghw.DriveType` and `ghw.StorageController` field to `ghw.Disk` struct. Please check out the code in https://github.com/jaypipes/ghw/pull/119 and see if it looks OK. Appreciate your patience on this, @jpo-joyent as I try to un-mess these interrelated concepts.

[2019-02-13 14:17] chatenilesh opened #122 "USB driveType is detected as HDD"
The driveType for USB drive is detected as HDD. The driveType detection logic seems generic.
[code]
What do you think of using  `ls /dev/disk/by-id/` to detect the correct value. ATA for HDD, USB for USB drive?. Shall I go ahead and code it?

[code]

[2019-02-13 14:30] jaypipes commented on #122
ATA and USB are the storage bus types, not the drive types, though :)

The listed drive types (so far) are:

* DRIVE_TYPE_HDD (hard disk drive)
* DRIVE_TYPE_ODD (optical disk drive)
* DRIVE_TYPE_FDD (floppy drive)
* DRIVE_TYPE_SSD (solid-state drive)

If anything, the drive type of the USB flash drive you have above should be SSD, right?

I've considered getting rid of the `ghw.Disk.BusType` field

[2019-02-13 14:53] chatenilesh commented on #122
Ok, I got a bit confused after I saw driveType as HDD for both. I think I will use `BusPath` for now and also look into the code for why it is not detected as `DRIVE_TYPE_SSD`, sounds good?

Following are the values for  `BusType `and `BusPath`
[code]

[2019-02-13 15:00] jaypipes commented on #122
:+1:

LOL. Gotta love storage hardware vendors :) That last one lists three separate bus types in the bus path... PCI, USB and SCSI are all bus types. **sigh**

We'll have to figure out a decent way of determining whether USB drives that show up on a SCSI *controller* (like the SanDisk_Cruzer_Blade above) are reported as DRIVE_TYPE_SSD. At this point, though, I'm not sure how we're going to consis

[2019-02-13 16:12] jpo-joyent commented on #122
Those filesystem paths are just a side-effect of udev, and you can get the same information (more, actually, in a non-filtered form) from udev directly. In fact, we're already doing exactly that -- see `udevInfo()` in `block_linux.go`, and look in your `/run/udev/data/` :)

[2019-02-13 16:14] jpo-joyent commented on #122
Hence why it's a bus *path* rather than just single bus *type*? Might actually be worth exposing it as a path instead ¯\\\_(ツ)\_/¯

[2019-02-13 17:36] jaypipes commented on #122
It is already exposed as `ghw.Disk.BusPath`, @jpo-joyent :)

[2019-02-13 17:59] chatenilesh commented on #122
Ok, so I had a look at udev and was wondering if it would be a good idea to use the following fields `E:ID_BUS`, `ID_TYPE`.
Here are the values for above referred devices:
HDD
`E:ID_BUS=ata`
`E:ID_TYPE=disk`

USB drive
`E:ID_BUS=usb`
`E:ID_TYPE=disk`
`E:ID_USB_DRIVER=usb-storage`

CD-ROM
`E:ID_BUS=ata`
`E:ID_TYPE=cd`

The above USB drive was detected as HDD because /queue/rotational field is 1 whi

[2019-02-13 18:06] jpo-joyent commented on #122
It may be a good idea to collect a corpus of /sys and udev data from real machines w/ physical descriptions of them so we can actually answer these types of questions. Maybe in a separate repo. I'd gladly contribute a script to collect such info as well as data from a few machines. Thoughts @jaypipes?

[2019-02-13 19:41] jaypipes commented on #122
+100

There is Issue #66 for that. I would definitely welcome those additions, Jean-Philippe. No need for a separate repo. Golang will ignore any directory called "testdata" in the source tree (for build purposes) so I think it would be a good idea to put such flat fixtures in a testdata/ directory.

[2019-02-13 19:45] jaypipes commented on #122
:man_shrugging: :) that's what's so fun about storage hardware!

That's the first I've heard of this udev field. I'm not sure if it's reliable or not. Are you saying that ID_ATA_ROTATION_RATE_RPM does *NOT* show up for your USB flash storage drive but it *DOES* show up for the "VBOX_HARDDISK" emulated drive?

Best,
-jay

[2019-02-14 10:14] chatenilesh commented on #122
Yes, I checked on few machines(Physical and VMs) and saw that `ID_ATA_ROTATION_RATE_RPM` is available only for Hard disks. Maybe we should come to conclusion after verifying on more machines.

[2019-02-14 13:22] jaypipes commented on #122
Hi again @chatenilesh :) Unfortunately, I don't have any machines handy that have disks where ID_ATA_ROTATION_RATE_RPM shows up in the output of `udevadm info -q all $DEVICE`.

Are you suggesting that we change this code in block_linux.go:

[code]

to something like this?

[code]

[2019-02-14 17:03] jpo-joyent commented on #122
Being attached via USB is not a reliable indicator of being rotational or not:

![image](https://user-images.githubusercontent.com/42818489/52803542-45ea2300-3050-11e9-842d-b2eff437f51b.png)
![image](https://user-images.githubusercontent.com/42818489/52803557-4aaed700-3050-11e9-8067-969f225bb413.png)
![image](https://user-images.githubusercontent.com/42818489/52803564-4edaf480-3050-11e9-8c82-f3526

[2019-02-14 17:14] jaypipes commented on #122
@jpo-joyent I didn't say being attached by USB is a reliable indicator of being rotational. I suggested that for USB drives, we check to see if the ID_ATA_ROTATION_RATE_RPM udev item was found and if so, use that for determining if the drive is HDD or SSD...

[2019-02-17 08:32] chatenilesh commented on #122
Even I was thinking of the same and tested a few devices and never came across `ID_ATA_ROTATION_RATE_RPM ` field for USB connection. It seems too complicated to know if the USB attached is SSD/HDD/Flash. May be we have to live with it for now and rely on BusPath or we can set driveType to USBDrive(new) if its has `BUS_ID=usb` set in udev?
USBDrive will act generic value referring to SSD/HDD/Flash,

[2019-02-17 20:52] glvr182 commented on #72
I see you added the help wanted label, and I would love to help out in this repo. What part of the documentation would you like help with?

[2019-02-18 11:32] jaypipes commented on #72
Hi @glvr182! Basically, this is about making ghw's documentation follow Golang standards, which unfortunately I haven't had a chance to read up on those standards and make any necessary changes to.

[2019-02-18 15:50] glvr182 commented on #72
@jaypipes So where can i help with

[2019-02-19 18:07] jaypipes commented on #72
@glvr182

Read https://blog.golang.org/godoc-documenting-go-code and then go from there.

1) I believe we need to have a doc.go file that contains much of the long-form documentation currently in the README.md file.

2) Running `godoc .` in the checked-out source directory yields a wide variety of things, not all of which seem to be well-organized and there are definitely structs and functions tha

[2019-02-19 18:33] icholy commented on #72
Most of the work is just taking the struct documentation and moving it into the source.

### Memory

Information about the host computer's memory can be retrieved using the
`ghw.Memory()` function which returns a pointer to a `ghw.MemoryInfo` struct.

The `ghw.MemoryInfo` struct contains three fields:

* `ghw.MemoryInfo.TotalPhysicalBytes` contains the amount of physical memory on
  the host
* `gh

[2019-02-19 19:17] jaypipes commented on #72
The issue with that is that I still want the README.md to have well-written long-form documentation and not have areas where I need to worry about content in the README getting out of sync with content in code comments in the Go source code. If there was a way to generate good looking markdown from the Go source code, I'd certainly be interested in investigating that path.

[2019-02-19 19:21] jpo-joyent commented on #72
I think this is why many projects just link to https://godoc.org/github.com/jaypipes/ghw from their README.

If you really prefer it duplicated inline in the README as checked into the repo though, https://github.com/robertkrimen/godocdown (which I've just found and never tried) seems like a rather promising option.

[2019-02-19 19:35] jaypipes commented on #72
Yeah, I was looking at that earlier. I think it's worth checking into...

[2019-02-19 19:55] icholy commented on #72
I think that the README should contain the following. The rest can live in the Godoc.

# `ghw` - Golang HardWare discovery/inspection library [![Build Status](https://travis-ci.org/jaypipes/ghw.svg?branch=master)](https://travis-ci.org/jaypipes/ghw)

`ghw` is a small Golang library providing hardware inspection and discovery.

## Design Principles

* No root privileges needed for discovery

  `ghw

[2019-02-19 20:03] glvr182 commented on #72
I think the godoc should be used for the code information. Because as stated above, many projects use it, and it is completly free (if it is hosted on github). As for the information that does not concern the code, that could be inside the readme. As @icholy stated.

[2019-02-19 21:15] jaypipes commented on #72
ack, @glvr182 and @icholy, that's fair.

Glenn, please feel free to work on a set of patches that would do just that! :)

Thank you very much in advance!
-jay

[2019-02-20 15:37] chatenilesh commented on #108
If you are planning to get information from DMI following library could help:
https://github.com/digitalocean/go-smbios

I could help in implementation if you have a list of TODO(s) for getting information using DMI.

[2019-02-20 18:00] jaypipes commented on #108
Hi @chatenilesh, yes, that exact library was brought up in Issue #96 :)

I'll try to go through the codebase and add some TODO annotations that you can use to find areas to work on.

[2019-02-24 12:05] chatenilesh opened #126 "Incorrect size shown for extended partition"
[code]

[code]
Of all the systems I checked, only `/sys/block/sdb/size` (disk size) was reliable, partition size was wrong for special partitions like extended, boot, swap, etc.
I think getting size from `/sys/block/sdb/sdb2/size` is not correct?.
I think partition size must be obtained from `/proc/partitions` or read `MBR`, any thoughts?

[2019-02-25 12:42] jaypipes commented on #126
Hi again @chatenilesh :) It seems you've indeed stumbled on a bug here.

Are you interested in submitting a fix? Keep in mind that the fix should try as much as possible to read from non-privileged (pseudo)files like /proc/partitions (not the MBR itself which I'm pretty sure would require root privileges and not a shell out to `fdisk` since that also requires root privileges to execute).

I would

[2019-02-25 17:05] chatenilesh commented on #126
Hi,
I too what a solution without parsing command outputs or reading MBR as it requires root privileges. So far I haven't come across any clean solution, so for now I am reading details from MBR. I would like to avoid reading MBR and submit a fix once I get a better solution.

1. I have already posted a question on unix.stackexchange (https://unix.stackexchange.com/questions/502444/how-to-check-if

[2019-03-08 19:28] jaypipes commented on #72
@glvr182 @icholy @jpo-joyent OK, so I put together a doc.go and updated the cpu.go module to have in-code comments/descriptions for all struct fields, member methods and package-level functions.

If you go to https://godoc.org/github.com/jaypipes/ghw you will see what the new long-form docs look like.

If you ask me, I think they look terrible compared to the existing README.md markdown docs and a

[2019-03-08 19:48] icholy commented on #72
If you're going to include the examples in the godoc, there's built-in support for it https://blog.golang.org/examples

I prefer keeping the long-form docs in the README though.

[2019-06-02 17:26] jaypipes opened #131 "Support go modules"
To make it easier and more consistent for other libraries and applications to use the `ghw` library, we should support 1.11+ go modules.

- [x] Add a go.mod and go.sum file containing `ghw`'s dependencies
- [x] Use proper semver three-tuple release style since go modules apparently don't understand X.Y without a X.Y.Z component
- [x] Add travis gimme environments for testing a non-`$GOPATH` instal

[2019-06-14 11:39] LukasMarckmiller opened #132 "ghw Block doesnt list sd card"
Im running ghw on an ARM Single Board Computer (ROCKPro64) with Armbian Linux.
lsblk lists the device named "mmcblk0" as disk with a partition mounted to /.
But ghw doesn´t find anything. Filesystem is ext4 and its neither encrypted, nor are there some special rights set to dev.

**lab02@rockpro64:/sys/block/mmcblk0$ lsblk**
NAME        MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sda           8:0    1

[2019-06-14 11:49] LukasMarckmiller commented on #132
**lab02@rockpro64:/sys$ fdisk -l**

Disk /dev/mtdblock0: 4 MiB, 4161536 bytes, 8128 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/optimal): 512 bytes / 512 bytes

Disk /dev/mtdblock1: 32 KiB, 32768 bytes, 64 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/op

[2019-06-19 15:12] chrisvdg opened #133 "unknown disk bus path on Alpine"
For writing a CSI driver I'm using this library to list the disks on a node in a kubernetes cluster to be able to mount it, for finding the disks I'm using the disk bus path.

On the node itself running Ubuntu 16.04 and there I can see the bus paths of the disks clearly

Code
[code]

output directly on node
[code]

Executing the same code on the Alpine (3.8.4) deamonset container
[code]

Listing d

[2019-06-24 15:56] jaypipes commented on #133
@chrisvdg Thanks for the bug report. I'll take a look into this ASAP.

[2019-06-24 16:25] jaypipes commented on #132
Thanks for the bug report @LukasMarckmiller! I'll look into this issue ASAP.

[2019-06-25 08:21] LukasMarckmiller commented on #132
I used this sd card btw
https://www.amazon.de/Samsung-Micro-256GB-Speicherkarte-Adapter/dp/B06XFS5657

[2019-06-27 12:15] jaypipes opened #135 "NVMe storage erroneously shows drive type of HDD"
[code]

should be this:

[code]

Looks like I just goofed with a copy/pasta error here:

https://github.com/jaypipes/ghw/blob/6be21fcb181ca1fafda0abae292e660598de71bf/block_linux.go#L357

[2019-06-27 12:48] jaypipes commented on #132
@LukasMarckmiller hi again! If you would be able to test out PR #136 and see if this works properly for you now, that would be very useful, thanks!

[2019-06-27 12:56] #135 closed

[2019-06-30 16:36] jaypipes commented on #133
@chrisvdg could you please share the container setup/config you are using? I'm having a hard time reproducing this one.

[2019-06-30 16:51] jaypipes commented on #133
Never mind @chrisvdg. I was able to reproduce it:

[code]

Will try to debug and fix today.

[2019-06-30 16:58] jaypipes commented on #133
OK, figured it out. `ghw` uses udevadm to get the disk bus path. Alpine doesn't use udevadm (or udev apparently). I will go ahead and add fallbacks to use sysfs if udevadm isn't available.

[2019-06-30 17:16] jaypipes commented on #133
Actually, I was wrong. We don't use udevadm. We look up the udev runtime DB via `/run/udev/data`, so in order to get ghw to work properly on Alpine, simply bind-mount `/run` to the container's `/run`:

[code]

I'm going to close this issue out and add a note to the README about making sure you bindmount `/run` if you're running in a container.

[2019-06-30 17:16] #133 closed

[2019-06-30 17:22] #132 closed

[2019-06-30 17:26] #131 closed

[2019-07-08 09:27] LukasMarckmiller commented on #132
Hey,

thank you for the fix. The card is visible now. The only problem is the size_bytes for the partition is 0.
ghw lists following:
"mount_point": "/",
"name": "mmcblk0p1,"
"size_bytes":0
while lsblk lists:
**mmcblk0p1:     part     /     236,1G**

[2019-07-11 12:22] jaypipes opened #139 "Partitions for MMC/SD disks have no size"
See https://github.com/jaypipes/ghw/issues/132#issuecomment-509151067

The reason for this is because the `partitionSizeBytes()` function is not properly parsing the block device prefix for the partition:

https://github.com/jaypipes/ghw/blob/29869ac89830376f4997b823e455dac004acce4e/block_linux.go#L447-L465

when the disk is MMC/SD.

[2019-07-11 12:25] jaypipes commented on #139
An appropriate fix for this should pass the disk name to the `partitionSizeBytes()` function, pre-parsed, instead of passing the partition name and trying to figure out the disk from the partition name.

[2019-07-21 02:08] FairyTale5571 commented on #8
No&

[2019-12-03 19:34] #139 closed

[2019-12-05 20:33] #96 closed

[2019-12-05 20:33] #108 closed

[2019-12-18 04:51] LinkinStars opened #145 "compiled failed in macOS"
[code]

you set `// +build !linux` in `dmi_stub.go`, so it can build success in linux.

[2019-12-18 13:06] jaypipes commented on #39
Closing this out. We can have individual issues for support on MacOSX for each specific submodules in ghw (network, cpu, etc...)

[2019-12-18 13:06] #39 closed

[2019-12-18 13:13] jaypipes commented on #145
thanks for the bug report @LinkinStars! Should be fixed with #147.

[2019-12-18 13:13] #145 closed

[2019-12-31 08:30] asdfsx opened #148 "Does this package support centos?"
I'm trying to use `ghw` to gather memory informations on centos. But got the error `can not find /var/log/syslog`.
Does the package support centos??

[2019-12-31 13:21] jaypipes commented on #148
Hi @asdfsx, you are seeing a *warning* about not being able to read `/var/log/syslog`? It's not an error, but a warning. If you execute your program with root privileges, that warning will disappear. Alternately, set the `GHW_DISABLE_WARNINGS=1` environment variable to hide that warning message.

You can read more about that here: https://github.com/jaypipes/ghw#disabling-warning-messages

[2019-12-31 13:21] #148 closed

[2020-02-05 17:02] thetravischannel commented on #38
I made another one real quick.

![Asset 2](https://user-images.githubusercontent.com/17730193/73864128-bca2a200-4806-11ea-8dc4-7280a02958a0.png)

[2020-02-05 17:25] jaypipes commented on #38
That is awesomesauce, Travis! :)

[2020-02-05 17:26] jaypipes commented on #38
You want to push up a PR that adds that logo to the README?

[2020-02-05 17:52] thetravischannel commented on #38
Sure thing, PR pushed.

[2020-02-05 19:21] #38 closed

[2020-02-05 19:23] jaypipes commented on #38
You rock @thetravischannel! :) Thank you so much!

[2020-02-05 21:10] jaypipes opened #153 "remove use of dep"
We still have some mentions of `dep` in our Makefile and travis configuration. We can remove these now and standardize on Go1.12+ with Go modules.

[2020-02-08 12:50] runner-mei opened #161 "pkg\mod\github.com\jaypipes\ghw@v0.5.0\dmi_stub.go:15:39: undefined: DMIInfo at windows"
pkg\mod\github.com\jaypipes\ghw@v0.5.0\dmi_stub.go:15:39: undefined: DMIInfo  at windows

[2020-02-09 23:02] jaypipes commented on #161
Hi @runner-mei! Thank you for the bug report! May I confirm that you are seeing this on Windows? If so, can you provide us some details about the version of Windows you are experiencing this on, please?

Thanks!
-jay

[2020-02-10 11:57] runner-mei commented on #161
yes, it is windows10 home.  version is 1903

[2020-02-11 16:47] jaypipes commented on #161
Hello again, @runner-mei. This was fixed with https://github.com/jaypipes/ghw/pull/147. I will be cutting a release of ghw within the next week that includes that patch. If you need an updated binary ASAP, you can pull in the specific `ghw` commit with the fix in your go.mod, like this:

[code]

[2020-02-11 16:47] #161 closed

[2020-02-11 16:48] jaypipes commented on #161
Please note, however, that while that will allow you to build on Windows, support for Windows hardware resources are coming in v1.0.0 of `ghw`, which is due out at the end of this month. Thanks!

[2020-02-15 15:31] jaypipes opened #165 "Windows block device printing prefixes with Linux `/dev`"
Output from `ghwc block` on a Windows machine:

[code]

Note that the `/dev/` prefix is used even though the drive name is just "C:"

[2020-02-15 15:33] jaypipes opened #166 "Get topology information on Windows"
I'm actually not sure which Win32 subsystem or WMI table holds information about the socket and memory topology for the hardware, so we'll have to figure that out.

[2020-02-15 16:30] jaypipes commented on #166
Because WMI is based on CIM, which is horrendously awful and created before most modern hardware, after much research, it seems I'll have to rely on the Win32 kernel GetLogicalProcessorInformation API call:

https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getlogicalprocessorinformation?redirectedfrom=MSDN

Which we'll probably need to use the `unsafe` and `golang.org/x/

[2020-03-17 12:05] tredoe opened #174 "Avoid warning message"
At Linux, when it is run the next code:

[code]
It is printed the next warning

but I want not that it been printed since to get the MAC address or the NIC name, I don't need that tool.

As suggestion, a boolean like 'printWarning' or 'skipWarning' could be added to `Network()`

[2020-03-17 12:13] jaypipes commented on #174
Thanks for the bug report @tredoe! I'll look into this ASAP.

[2020-03-17 12:19] jaypipes commented on #174
@tredoe simply set the `GHW_DISABLE_WARNINGS` environment variable to "1":

Please see this in the documentation:

https://github.com/jaypipes/ghw#disabling-warning-messages

[2020-03-17 12:19] #174 closed

[2020-03-17 12:26] tredoe opened #175 "Provide `ghw.WithDisableWarnings()` function"
https://github.com/jaypipes/ghw#disabling-warning-messages

Now, there is to use an environment variable to disable the warnings, but it is not an option when the package is going to be compiled into a main program.

The best would be to add a global variable at 'ghw' to disable them.

[2020-03-17 12:38] jaypipes commented on #175
Are you referring to the `ghwc` CLI tool? Or are you referring to `import`ing the ghw library? In either case, the way to disable warning messages is to set the environment variable that the library looks for, which is `GHW_DISABLE_WARNINGS`.

If you are `import`ing the ghw library into your own executable and wish to always disable these warnings, then *your* code should simply call:

[code]

htt

[2020-03-17 12:45] tredoe commented on #175
It does not make sense that a library use environment variables to enable/disable features on it.

[2020-03-17 13:59] jaypipes commented on #175
@tredoe I could add a `ghw.WithDisableWarnings()` technique:

[code]

similar to the `ghw.WithChroot()` function:

https://github.com/jaypipes/ghw#overriding-the-root-mountpoint-ghw-uses

https://github.com/jaypipes/ghw/blob/14923eaaa4d8378051f741694e261747d16fc05e/options.go#L34

that can be used to change the root directory path in addition to the `GHW_CHROOT` environment variable.

Would that b

[2020-03-17 14:01] tredoe commented on #175
Oh yes, please

[2020-03-17 14:11] jaypipes commented on #175
Plenty of libraries control features using environment variables, by the way.

Examples:

* **Logrus**: https://github.com/sirupsen/logrus/blob/53000c4c0f981521df1bada12a9e9ea20728fb62/text_formatter.go#L116
* **Ginkgo**: https://github.com/onsi/ginkgo/blob/6a07ea2adeafc7c9dc2a9b38ffc4154f9159f467/ginkgo/run_command.go#L130
* **aws-sdk-go**: https://github.com/aws/aws-sdk-go/blob/bef02444773a49eaf

[2020-03-17 14:27] tredoe commented on #175
So it is an error, since my point of view:

- When I use a library I want to be able to control all features of it, nor the final user.
- When I want that the final user can change some behaviour on the final executable, then I allow it at such executable.

[2020-03-17 15:29] jaypipes commented on #175
I will implement a `ghw.WithDisableWarnings()` function, then.

[2020-03-17 15:38] tredoe commented on #175
At Linux, the function `ghw.Baseboard()` also prints a warning:

[code]

[2020-03-17 16:12] tredoe opened #176 "Windows: do not print correctly the memory unit value"
[code]
At Linux, it is printed correctly:

[code]

but not in Windows:

[code]
It is expected GB instead of MB.

[2020-03-17 16:25] tredoe opened #177 "Windows: some errors at `block()`"
[code]

At Windows:

+ DriveType: gets 'SDD' at all disks, but I have several HDDs
+ SerialNumber: add spaces in front of the number

Linux
[code]
Windows
[code]

[2020-03-19 19:30] MK5555 opened #178 "Is a pure go library?"

[2020-03-19 19:50] jaypipes commented on #178
Yes, ghw is a pure go library.

[2020-03-19 19:50] #178 closed

[2020-03-22 17:03] #177 closed

[2020-03-22 17:03] #176 closed

[2020-04-17 13:06] zzustu opened #183 "Windows: do not print correctly the unused memory value.(about issue#176)"
![Wrong](https://user-images.githubusercontent.com/17822281/79569249-dbb48e80-80e9-11ea-8980-f88fa61c9d74.JPG)
OS: Windows Server 2019 Datacenter
total memory: 12GB
unused memory: 7.5GB (≈7GB)
but `ghw` print unused=total
[code]
[review fix issue#176 WQL](https://github.com/jaypipes/ghw/blob/e193f9455de9bf27be414e62e73e80d58bbc2885/memory_windows.go#L13)
[code]
You should use FreePhysicalMemory in

[2020-04-17 13:20] jaypipes commented on #183
Hi @zzustu. You have some confusion about what the `MemoryInfo.TotalUsableBytes` contains.

From the [documentation](https://github.com/jaypipes/ghw#memory):

For Windows, the amount of `win32_OperatingSystem.TotalVisibleMemorySize` field is equal to the total amount of memory that the system *has available to it to use*, which is what `ghw.MemoryInfo.TotalUsableBytes` represents.

The `ghw.Memory

[2020-04-17 13:20] #183 closed

[2020-04-17 13:22] jaypipes opened #185 "Determine `MemoryInfo.TotalPhysicalBytes` on Windows"
We should be able to determine the total amount of physical memory attached to the hardware on Windows by summing the size of the `Win32_MemoryBank.Size` WMI table fields.

See https://github.com/jaypipes/ghw/pull/171#issuecomment-597082409

[2020-04-17 13:23] #165 closed

[2020-04-17 13:25] #8 closed

[2020-04-22 11:24] jaypipes opened #186 "Move to detailed docs generation with Hugo and Docsy"
I think `ghw` has become sufficiently feature-rich to warrant a real docs solution other than the README.md page. I'm thinking of using [Docsy](https://www.docsy.dev/) for this.

[2020-05-05 16:33] audiolion opened #187 "MacOS Block() returns no information"
Hi 👋,

Wanted to use the `ghw.Block()` functionality, and noticed on Darwin that it returns no information. I used delve to debug what was happening, and while almost all the disk information was being found, it was getting to this section of code https://github.com/jaypipes/ghw/blob/e193f9455de9bf27be414e62e73e80d58bbc2885/block_darwin.go#L129-L136

and `out` was an empty string. This code is sup

[2020-05-05 20:46] jaypipes commented on #187
Hi @audiolion! Thanks very much for the bug report! I'll look into a fix ASAP.

[2020-05-05 22:28] audiolion commented on #187
nice! If I can help in anyway let me know. I don't have another mac to confirm if this is purely an issue with my machine or if it presents on other machines as well. Maybe something changed with Catalina?

[2020-05-10 13:21] jaypipes commented on #185
This is now being done:

[code]

[2020-05-10 13:21] #185 closed

[2020-05-18 15:29] sandeep1-0 opened #189 "Issue while fetching bios info in windows 10."
Metricbeat failing to fetch bios info. Getting the following error while tried to fetch those.

020-05-18T20:53:53.604+0530    DEBUG   [module]        module/wrapper.go:154   Starting metricSetWrapper[module=system, name=asset, host=]
<nil>
Error getting BIOS info: wmi: cannot load field "InstallDate" into a "string": unsupported type (<nil>)2020-05-18T20:53:53.946+0530     DEBUG   [module]

[2020-05-18 15:31] sandeep1-0 commented on #189
The code works fine when i run it seperate.

[2020-05-19 12:28] jaypipes commented on #189
@sandeep1-0 I don't see that you are using the `ghw` library. The above stacktrace shows only metricbeat modules.

[2020-05-19 19:09] sandeep1-0 commented on #189
Error getting BIOS info: wmi: cannot load field "InstallDate" into a "string": unsupported type ()2020-05-18T20:53:53.946+0530 DEBUG

It's returning null

[2020-05-19 19:56] jaypipes commented on #189
@sandeep1-0 can you please post the code that you are running that is producing your error? Thanks!

[2020-05-20 02:53] sandeep1-0 commented on #189
`func ProdInfo() map[string]interface{} {
	var proddict map[string]interface{}
	product, err := ghw.Product()
	if err != nil {
		fmt.Printf("Error getting product info: %v", err)
	}
	proddict = make(map[string]interface{})
	prod_model := product.Family
	proddict["prod_model"] = prod_model
	return proddict
}`

` Error getting product info: wmi: cannot load field "SKUNumber" into a "string": unsuppo

[2020-05-20 16:18] jaypipes commented on #189
@sandeep1-0 OK, thank you! I will push up a fix soon.

[2020-05-21 04:33] sandeep1-0 commented on #189
Ok thanks @jaypipes

[2020-05-21 14:30] jaypipes commented on #187
@audiolion hey, I haven't forgotten about you! Trying to get my hands on a Mac to reproduce your issue and push a fix. Sorry for the delay!

[2020-05-21 14:32] audiolion commented on #187
Hey no worries. Mac is so difficult to develop for because you can't emulate it :(. I might be able to set up a mac mini that you can remote into?

[2020-05-21 14:34] jaypipes commented on #189
@sandeep1-0 I've merged a fix for this issue. Would you mind pulling the latest code and checking to see if your issue is addressed?

[2020-05-22 05:11] sandeep1-0 commented on #189
Error getting block storage info: wmi: cannot load field "DefaultBlockSize" into a "uint64": unsupported type (<nil>)2020-05-22T10:38:06.704+0530

Thanks for your concern but still I'm facing the issue.

[2020-05-22 14:30] jaypipes commented on #189
Hmm, looks like non-string receiver fields also need to be nil-safe... you'd think that WMI would not return a <nil> value for something like `DefaultBlockSize`... :( OK, will push another patch later today.

[2020-05-23 18:43] jaypipes commented on #189
@sandeep1-0 OK, please check the latest version. I changed the WMI receiver field types to all pointers. This should fix you.

[2020-05-25 04:15] sandeep1-0 commented on #189
Still the same.
`Error getting block storage info: wmi: cannot load field "DefaultBlockSize" into a "uint64": unsupported type (<nil>)2020-05-25T09:34:49.104+0530`

[2020-05-26 12:20] jaypipes commented on #189
@sandeep1-0 please ensure you are pulling the `v0.6.1` release in your `go.mod`:

https://github.com/jaypipes/ghw/releases/tag/v0.6.1

[2020-05-27 05:34] sandeep1-0 commented on #189
Yes i downloaded that source code and put it in the library still same error i'm getting. Will this work if we pass some default values for all.

[2020-05-27 11:50] jaypipes commented on #189
@sandeep1-0 I don't know what you mean by "pass some default values for all". Could you elaborate? The default values for pointer types is 0.

Maybe you could post the exact code that you are running and some more details about the environment you are running it in? What version of Golang? What version of Windows? If you run the `ghwc` command line client, what is the output?

[2020-05-27 12:13] sandeep1-0 commented on #189
go version : go version go1.14.2 windows/amd64
windows : Windows 10 Enterprise

I have created a new module for metricbeat which fetches all the system data like  hard-disk details, system details etc.  If you have metricbeat available i have attached the code.
[asset.zip](https://github.com/jaypipes/ghw/files/4688598/asset.zip)

[2020-05-27 23:59] jaypipes commented on #189
@sandeep1-0 it's working perfectly fine for me.

Here's what I did:

1) Downloaded your code
2) Moved `asset_func.go` to `C:\Users\jaypip\go\src\github.com/\jaypipes\test189\asset_func.go`
3) Changed the package name from `asset` to `main` and added the following to the `asset_func.go` file:

[code]

I then executed it and everything worked fine:

[code]

I suspect you are caching an old version o

[2020-05-28 13:22] sandeep1-0 commented on #189
Yeah it worked that way. Can you help me understand what could be the problem there.

[2020-05-29 04:11] #189 closed

[2020-05-29 12:23] jaypipes commented on #189
Hey again, @sandeep1-0. Sorry for the delayed response. Did you get your code working? I suspect all you needed to do was ensure that you were building your metricbeat plugin with a `go.mod` that referenced a version of the `ghw` library at tag `v1.6.0`. Is that right?

[2020-05-30 18:36] sandeep1-0 commented on #189
Yes. I have moved the code like you mentioned earlier it's works perfectly fine. I don't understand the go.mod what you have mentioned. So where should I change those inorder to make my code works as it was before?

[2020-05-30 18:38] sandeep1-0 commented on #189
Sorry for that I am new to go and I have only basic ideas to solve the problem. Thanks for your library and help it made my work so much easier.

[2020-05-31 22:33] jaypipes commented on #189
No need to apologize, Sandeep :) So, when you use code from a Go library (like `ghw`), on modern Go platforms much of the tooling for managing Go module versions and dependencies is done using the `go.mod` file. You can specify a particular version of a library dependency in your own code by using the `go mod edit` command from your code's root source directory once you've initialized go module su

[2020-06-01 03:06] sandeep1-0 commented on #189
Thank you jay.

[2020-08-05 16:20] tredoe opened #196 "Support for net interfaces on FreeBSD and macOS"
I've found some information of low level related to net interfaces, for if somebody with knowledge of low level would want to add it.

+ https://kbyanc.blogspot.com/2010/11/python-enumerating-ip-addresses-on.html
+ https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/getifaddrs.3.html
+ https://nxmnpg.lemoda.net/3/getifaddrs
+ https://www.lemoda.net/fr

[2020-09-18 08:34] sivachandran opened #199 "Support for ARM"
Presently CPU info on ARM is empty(`cpu (0 physical packages, 0 cores, 0 hardware threads)`) as there are many fields missing in ARM's `/proc/cpuinfo`.

**Sample ARM /proc/cpuinfo**
[code]

More samples can be found here https://github.com/shirou/gopsutil/issues/881

Even if we change the implementation to ignore missing fields, the values are of available fields are numeric. They need to be conve

[2020-09-21 22:30] jaypipes commented on #199
Hi @sivachandran! Yes, absolutely it would be awesome to add support for ARM. I don't have time to work on this at the moment, though. Are you interested in contributing here?

[2020-09-29 08:26] sivachandran commented on #199
Sure. I will try to add the support and raise PR.

[2020-10-26 23:05] chabbimilind opened #200 "NUMA memory info"
The `Node` structure does not include per NUMA node physical memory statistics.

[code]

Can we add `Memory []*memory.Info` field to the struct and provide per-NUMA-node memory stats?

On Linux, `/sys/devices/system/node/node*/meminfo ` file will offer the necessary data.
We need to augment `pkg/memory/memory_linux.go` with a function such as `MemoryForNode()` and call it from `func topologyNodes`

[2020-11-23 23:07] codestation commented on #187
I had the same problem so i had a friend run some tests and found this:

The MacBook i have runs on a HDD and diskutil reports the following DevicePath

    IODeviceTree:/PCI0@0/SATA@1F,2/PRT0@0/PMP@0

So `ioreg` gets called with `PMP@0` and returns nothing. The library doesn't work here. Note: I ran ioreg by hand with `AppleAHCIDiskDriver` as name and got the disk model/serial.

The MacBook from

[2020-12-03 07:58] fromanirh opened #201 "Improve the testing of the linux sysfs parsing code"
Hi all!

Under linux `ghw` reads sysfs files/directory to extract informations. I think the tests of this code could be enhanced a bit, but to do so we need to somehow fake sysfs. Would that be a welcome change?

I can think of few way to do this but first I'd love to hear from the maintainers/community if there is a preferred way and/or some past discussion about this topic. Please share any refe

[2020-12-03 08:00] fromanirh commented on #201
Example approach: https://github.com/jaypipes/ghw/issues/66

[2020-12-03 08:03] fromanirh commented on #66
Hi there! I'd love to contribute because I'm interested in testing the syfs reading portion of `pkg/cpu`, `pkg/memory` and few others.
Few questions (been doing similar things in the past)
- should the testing fs hierarchy be static (e.g. subtree somewhere under test you just check in the source tree)?
- same as above, but maybe with some .tgz file we uncompress on the fly to run tests?
- should t

[2020-12-03 08:04] fromanirh commented on #92
Hi there, I can contribute here, depending on the decision we take in https://github.com/jaypipes/ghw/issues/66 (and also https://github.com/jaypipes/ghw/issues/201 :) )

[2020-12-03 18:44] jaypipes commented on #66
Hi @fromanirh! Check out the `ghw-snapshot` tool:

https://github.com/jaypipes/ghw/blob/master/cmd/ghw-snapshot/main.go

You can run it like so:

[code]

After running that, you will see a `$OS-$ARCH-$HASHSYSTEMNAME.tar.gz` file in the current directory.

You can investigate this snapshot of tmpfs using the `hack/run-against-snapshot.sh` script:

https://github.com/jaypipes/ghw/blob/master/hack/ru

[2020-12-04 07:30] fromanirh commented on #66
Thanks for the information @jaypipes ! Far from discouraging, this is a great building block!
I'd like to make use of snapshots systematically in the test suite. I'm most interested in the cpu + topology packages, but we can iterate from there.

Do you think a flow like this could be a good direction?
1. file a PR with few snapshots to be used as test data. Example: few cores (laptop), many cores

[2020-12-07 14:15] jaypipes commented on #66
@fromanirh sounds like a great direction to me! :)

[2020-12-07 14:21] fromanirh commented on #66
@jaypipes great! I'll file PRs to implement this direction ASAP, referencing this issue. Thanks!

[2020-12-07 14:21] jaypipes commented on #66
Rock on :) Thank you so much!

[2020-12-17 10:09] fromanirh commented on #201
To close this issue, we need:
-  https://github.com/jaypipes/ghw/pulls/202
-  https://github.com/jaypipes/ghw/pulls/203

(more to come)

[2021-01-06 15:40] #201 closed

[2021-01-09 06:18] librenix opened #207 "[feature] Add JSON/YAML serialization for ALL PCI device info"
The issue #123 only serializes information about the GPU, not all PCI devices.

[2021-01-09 06:21] librenix opened #208 "[Feather Request] Add more devices information"
For example: USB, bluetooth, sounds, input devices, etc.

[2021-01-12 07:29] fromanirh commented on #200
I'd happy to work in this area in the coming days/weeks.

[2021-01-12 07:30] fromanirh commented on #92
I'd totally happy to work in this area. I have access to boxes with low and high end SRIOV cards and I can provide snapshots (albeit most likely for low-end cards only) to enable others.

[2021-01-12 07:32] fromanirh commented on #13
I wonder if a simpler output like the one in the tree utility (https://linux.die.net/man/1/tree) can be a good intermediate step - or even a valid alternative

[2021-01-12 15:44] jaypipes commented on #207
@librenix thanks for the feature request! I've implemented this in #209. Please take a look and see if that will meet your needs! :)

[2021-01-12 23:01] jaypipes commented on #92
That is awesome news, @fromanirh! Would be great to get contributions from you in this area!

[2021-01-20 06:12] #207 closed

[2021-01-21 07:32] fromanirh opened #212 "[RFE] enable to create ghw snapshots programmatically"
It would be nice to refactor the code which creates snapshots, which currently sits almost entirely on `ghw-snapshot` in a pkg consumable by other applications. This would enable other applications which wants to collect data from `/proc` and `/sys` to reuse ghw code with minimal (if any at all) extra burden to ghw, if the API is designed well.

A possible drawback of this RFE is to increase the g

[2021-01-21 07:33] fromanirh commented on #212
This PR is the proposed solution of this issue: https://github.com/jaypipes/ghw/pull/211

[2021-01-21 07:57] nevermore-muyi opened #213 "Fall back on ID_SERIAL if ID_SERIAL_SHORT is missing"
If I cannot get the ID_SERIAL_SHORT, we may should get ID_SERIAL for serial number?

[2021-01-21 15:46] usdogu opened #214 "[Question] How To Get GPU Info Like Neofetch"
this is the what neofetch shows info like : https://imgur.com/a/12SSXVk

[2021-01-21 15:53] jaypipes commented on #214
[code]

What specifically are you looking for @usdogu?

[2021-01-21 15:57] jaypipes commented on #213
Many systems require root privileges to access chassis and baseboard serial information. Please make sure you check for WARNING messages from ghw like this:

[code]

If you run a tool like `ghwc` as `sudo` and continue to not see serial information, please let me know.

[2021-01-22 08:56] usdogu commented on #214
I am looking for GPU's brand and model combined
for example according to your output I want a output like "NVIDIA TU106 [GeForce RTX 2070 Rev. A]"  (sorry for my bad english :p)

[2021-01-22 15:29] jaypipes commented on #214
No worries at all! :)

OK, you could do something like this:

[code]

[2021-01-24 10:41] usdogu commented on #214
sorry for late reply , thanks a lot

[2021-01-24 15:41] fromanirh commented on #175
I can take a stab at this issue: if we want uniformity from the behaviour we control using the env vars and programmatically; meaning: both interfaces should be equally poewerful, then I need to do a small change in the snapshot pkg anyway.

[2021-01-25 03:08] nevermore-muyi commented on #213
@jaypipes I used root to use ghwc, but there is not a  ID_SERIAL_SHORT ,the output like this:

[2021-01-25 14:34] jaypipes commented on #213
Ah, I understand you now. OK, the code I need to change is here:

https://github.com/jaypipes/ghw/blob/9584f3470707b0076dda2550a2ad1da28bd2d383/pkg/block/block_linux.go#L136-L141

I'll push a fix shortly to fallback on ID_SERIAL if ID_SERIAL_SHORT is missing.

[2021-01-25 14:44] jaypipes opened #218 "change from "master" to "main""
We should remove insensitive anachronisms like "master" and replace with better, non-offensive terms like "main".

Change the default git branch to "main" following these instructions:

https://github.com/github/renaming

[2021-01-25 14:50] #214 closed

[2021-01-25 17:48] pearsonk opened #220 "PCI: Migrate from BSF to BDF convention"
Slot designation is a bit of a misnomer when referring to the addressing field, which is conventionally called Device in Domain:Bus:Device.Function notations.
Further, as it seems relevant, actual slot information can be pulled from DMI (type 9) with a lookup of the Designation for a matching Bus Address for the first Function of the device. Absence of a DMI entry would signify an internal PCI dev

[2021-01-26 08:06] juan-chan commented on #199
We need support for ARM too :(

[2021-01-26 13:06] nevermore-muyi commented on #213
And when will the next version can be published?

[2021-01-26 14:43] jaypipes commented on #213
I'm aiming for Friday this week (or before). I have a dependency on the pcidb library that I need to release first.

[2021-01-27 17:50] #213 closed

[2021-01-28 16:05] fromanirh commented on #212
relevant PR merged!

[2021-01-28 16:05] #212 closed

[2021-02-01 07:13] nevermore-muyi commented on #213
I am looking forward to the next version.

[2021-02-02 12:03] fromanirh commented on #175
Fixed by https://github.com/jaypipes/ghw/pull/216 - we indeed added `ghw.WithDisableWarnings()` implemented on top of extra machinery to allow users to redirect where ghw sends warnings using a bare-bones interface, similar to the `log` package in spirit.

[2021-02-02 12:28] #175 closed

[2021-02-02 12:28] #66 closed

[2021-02-02 12:37] jaypipes commented on #213
@nevermore-muyi: it's out :) https://github.com/jaypipes/ghw/releases/tag/v0.7.0

[2021-02-02 12:42] nevermore-muyi commented on #213
OK, thanks, i am going to try it.

[2021-02-24 11:59] fromanirh commented on #92
first draft, RFC for API: https://github.com/jaypipes/ghw/pull/230

[2021-03-01 18:11] swatisehgal opened #231 "Check if hyperthreading enabled on not in a system"
Currently there is no API to check if hyperthreading is enabled or disabled on a system. There are ways of figuring out if hyperthreading is enabled on a system or not by something like the following:
[code]
OR

[code]
Would be nice if there was an API to obtain this information directly from a ghw snapshot.

[2021-03-02 10:05] fromanirh commented on #231
Sharing some thoughts as ghw contributor.

Since 2018 the linux kernel exposes a pseudofile (https://www.kernel.org/doc/Documentation/ABI/testing/sysfs-devices-system-cpu) which reports if smt (aka ht) is enabled globally.
OTOH, ghw exposes the ht flag per-processor.

I think this is the key decision here: is (or we should model as) smt a per-processor or per-system setting?
IOW, can we have SMT e

[2021-03-02 10:51] fromanirh commented on #231
I did a bit of extra research and what we have so far is: we also need to distinguish between firmware settings (aka HT enabled/disabled in BIOS or UEFI) and kernel settings.

1. the HT flag, if present, is telling us that the HW is ht capable. This is what ghw reports today, reading from `/proc/cpuinfo`.
2. the "nosmt" kernel parameters seems (didn't dive deep enough yet) to do something very clo

[2021-03-23 01:06] JustinTimperio opened #234 "GHW crashes when /numa_node file does not exist"
When running ghw on an AMD Ryzen 7 5800X running proxmox the following error causes not only ghw to crash but the whole application to panic. I suspect this may be an issue with the VM but it would be worth error handling events like this to minimize risk. The following error causes the full panic
```WARNING: failed to read int from file: open /sys/class/drm/card0/device/numa_node: no such file or

[2021-03-23 14:05] jaypipes commented on #234
Hi @JustinTimperio! Are you running the `ghwc` client or are you importing ghw into your own source code? Also, please let us know what version of ghw you are using. Thanks!

[2021-03-23 14:22] JustinTimperio commented on #234
Hi @jaypipes, This was being imported into our own source code (it catches errors if they occur) using version `0.7.0`.
I suspect this was just an issue with a broken VM but it might be worth handling edge cases like that especially if they cause a full panic.

[2021-03-23 15:37] jaypipes commented on #234
Cool, thanks for the heads up. Definitely ghw should not panic, so I'll look into things and make sure we're catching all exceptions appropriately.

[2021-03-29 15:20] fromanirh commented on #234
Hey, I think I have some time to work on this issue.

[2021-03-30 08:03] fromanirh commented on #234
Working on reproducer + enablement here: https://github.com/jaypipes/ghw/pull/235
I'll re-upload with a ghw snapshot ASAP, so we can reason about it.
@JustinTimperio looking at the code and while working on the reprouced is not yet obvious to me what exactly causes the issue.  could you please elaborate about the crash you had? I totally see the warning, but this should not directly lead to a cras

[2021-03-30 13:38] JustinTimperio commented on #234
Hi @fromanirh. Sadly I think you are going to have a very difficult time reproducing this bug. As stated before the VM that produced the panic had some serious issues and has already been pulled offline.

My assumption was that there was just a missing check before reading `/numa_node` but this may be an edge case so rare it is not worth fixing.

[2021-04-23 13:16] Flipped-OvO opened #241 "DriveType is wrong"
\\.\PHYSICALDRIVE3 SSD (8TB) IDE [@unknown] vendor=(标准磁盘驱动器) model=HGST HUH728080ALE604 serial=2EGEU24R
\\.\PHYSICALDRIVE4 SSD (466GB) SCSI [@unknown] vendor=(标准磁盘驱动器) model=Samsung SSD 970 EVO 500GB serial=0025_3855_0141_90D6.
\\.\PHYSICALDRIVE6 SSD (932GB) SCSI [@unknown] vendor=(标准磁盘驱动器) model=WDS100T3X0C-00SJG0 serial=E823_8FA6_BF53_0001_001B_444A_4693_9E4A.
\\.\PHYSICALDRIVE1 SSD (8TB) IDE [@

[2021-04-25 16:49] jaypipes commented on #241
Hi @Flipped-OvO, can you give me some more information about your known setup? Would you mind pasting the output of this command please?

[code]

[2021-05-14 14:12] fromanirh opened #249 "add a way to override mount points for sys, proc et. al."
Currently, ghw supports the `WithChroot` option which allow the package to consume system files from custom filesystem trees.
This works great for snapshot support, but is a poor fit when running into containerized workloads.

Inside containers which grant access to the host virtual file systems, is more common to bind-mount them in non standard location, like `/host-sys` or `/host-proc`. Is much

[2021-05-14 14:12] fromanirh commented on #249
a POC of a possible API and implementation could look like https://github.com/jaypipes/ghw/pull/248

[2021-05-16 07:29] fromanirh commented on #249
The POC is now a complete PR.

[2021-05-16 08:33] fromanirh opened #250 "stop reading /etc/mtab, use information in procfs instead"
In order to extract information about block devices, ghw parses `/etc/mtab`. This is pretty much the only reason why ghw needs to access the /etc subtree. But `/etc/mtab` itself is more and more legacy. On fedora 34, is a symlink to `/proc/self/mounts`:
[code]
In order to be more containerization-friendly, but also to be more future-proof, we should read the same information from procfs.

[2021-05-16 08:35] fromanirh commented on #250
related to: https://github.com/jaypipes/ghw/issues/249

[2021-05-16 08:43] fromanirh commented on #250
POC fix: https://github.com/jaypipes/ghw/pull/251

[2021-05-17 10:31] swatisehgal commented on #249
+1 on this capability! Thanks for working on the PR.

[2021-05-20 13:10] #234 closed

[2021-05-25 17:51] fromanirh commented on #220
fixed by https://github.com/jaypipes/ghw/pull/252

[2021-05-25 17:51] #220 closed

[2021-05-25 17:55] fromanirh commented on #218
I think this should defintely happen before 1.0.0

[2021-05-27 07:27] fromanirh opened #253 "Add contributor helpers"
In order to make it easier to contribute to the project, we should add

- contributor guidelines
- issue template
- PR template (perhaps)

We can start quick and lean with basic guidelines and evolve as needed.

[2021-06-07 08:27] fromanirh commented on #249
fixed with https://github.com/jaypipes/ghw/pull/248

[2021-06-07 08:27] #249 closed

[2021-06-08 03:22] #153 closed

[2021-06-09 05:26] zhangzhiqiangcs opened #256 "can not show mountpoint for nvme disk"
when I use ghw in my project on a machine with nvme, it just can not show nvme disk mountpoint.
I just run the sample code as
[code]
Output
[code]
lsblk output
[code]
os information
[code]
Did I use the code correctly ?

[2021-06-11 08:31] fromanirh commented on #250
fixed by https://github.com/jaypipes/ghw/pull/251

[2021-06-11 08:31] #250 closed

[2021-06-11 08:32] fromanirh commented on #256
At glance, it seems you used the code correctly, but we have a bug in the `block` pkg if there is a filesystem directly on the block device, and not on a partition of it.
IOW:
1. disk with 1 giant partition, filesystem on the giant partition -> should work
2. disk without partition, filesystem on the block device directly -> seems broken

[2021-06-14 17:24] zhangzhiqiangcs commented on #256
understand. thanks for your reply. maybe I can help to fix this.

[2021-06-14 17:26] fromanirh commented on #256
Sure, I need to work on a reproducer myself and then we can create a fix. Feel free to contribute fixes if you have time, I'd be happy to review.

[2021-06-15 08:59] zhangzhiqiangcs commented on #256
by the way, I fond ghw can not aware the ssd disk when the disk is in a raid.
I don't know there is a way to fix this. or there is no regular method to discover the disk type behind raid.

[2021-06-15 09:01] fromanirh commented on #256
If the disk is attached to a true raid controller, then there is no easy way (there could be controller-specific ways), because the intent of the controller is to mask what's attached to it and present an abstract storage entity to the OS - hence to ghw

[2021-07-30 01:59] Migulon opened #266 "On macOS the disk size is wrong"
It's doubled. Strange. For block storage.

[2021-08-13 07:57] Zzorz opened #267 "Could not collect windows disk partition infomation"
There is a bug in ghw/pkg/block/block_windows.go
`https://github.com/jaypipes/ghw/blob/f38192d6ca0e6d937e83bda5fd17f4870b4db014/pkg/block/block_windows.go#L118`
The comparison between `* uint32` and `* uint32` would be wrong in this circumstance.

Bug can be fixed with method below:
[code]

[2021-08-29 16:05] jaypipes commented on #218
done today on Aug 30th, 2021. Docs updated in #270.

[2021-08-29 16:05] #218 closed

[2021-09-11 17:29] Techno-Fox opened #274 "cannot unmarshal string into Go struct field Disk.Blocks.disks.drive_type of type block.DriveType"
I was trying to marshal and unmarshal data, but then this comes up. I believe it's because DriveType is an int, while the marshaled version is a string, because of the MarshalJSON function converting it to a string.

Proposal:
   Add an UnmarshalJSON function to types that are converted from the original. To be converted back their original type for unmarshaling.

Please correct me if I'm wrong!

[2021-09-13 10:54] fromanirh commented on #274
Hi! could you please provide a simple reproducer to fully understand the flow?

[2021-09-13 16:51] Techno-Fox commented on #274
[code]

[2021-09-14 06:46] fromanirh commented on #274
thanks @Techno-Fox ! working on a fix

[2021-09-14 17:34] fromanirh commented on #253
I think @jaypipes recently fixed this with https://github.com/jaypipes/ghw/pull/272 and https://github.com/jaypipes/ghw/pull/271

[2021-09-14 17:34] #253 closed

[2021-09-27 16:58] #274 closed

[2021-09-29 06:40] neomen commented on #199
on mac m1 (arm64)
[code]
I think that the rest will not work either

[2021-10-13 01:03] mlugo2 opened #282 "Windows: Cannot change thread mode after it is set issue"
Hi, I keep getting an error when trying to get any system info.
I've ran the following piece of code with Memory, CPU, GPU and I get the same error:
Code:
`
memory, err := ghw.Memory()
	if err != nil {
		panic(err)
	}
`
Error:
`panic: Cannot change thread mode after it is set.`

The only one which seems to be working is `ghw.Topology()`

I'm running go 1.17 on Windows 10, any help would be appreci

[2021-10-14 17:39] Techno-Fox opened #283 "json: cannot unmarshal string into Go struct field Info.architecture of type topology.Architecture"
This is a new one that came up. I noticed my structure wouldn't Unmarshal.

This was the error: json: cannot unmarshal string into Go struct field Info.architecture of type topology.Architecture

Example:

[code]

[2021-10-19 13:03] jaypipes commented on #199
Unfortunately, we only support block device information discovery in Darwin at the moment. Nothing to do with ARM :)

[2021-10-21 21:36] fromanirh commented on #283
This time I reviewed all the types implementing `MarshalJSON` and added tests for all of them:
[code]

[2021-10-22 17:01] poetlife opened #285 "block.String() output the not accurate cap info of the disk"
Here is my code:
[code]
then I got the output:
[code]
Which mean I have 2 disks, and one is **932GB**, another is **224GB**, so WHY does the overall info show **2TB**. Seems the accuracy is too low.

[2021-10-26 18:11] #283 closed, assigned to nobody

[2021-10-31 12:24] fromanirh commented on #282
We have a CI lane which runs on windows; unfortunately, no win10 is available - we just use what GH make available. I wonder if there is a way to reproduce this issue in our CI.

[2021-11-02 16:39] #200 closed

[2021-11-15 07:40] fromanirh commented on #51
to close this issue, do we want to add a CI lane which calls golint-ci against the PRs?

[2021-11-15 21:41] jaypipes commented on #51
sure, if you would like to do that, I'm all for it, Francesco!

[2021-11-19 11:46] fromanirh commented on #51
So let's do it! PR: https://github.com/jaypipes/ghw/pull/288 (currently WIP, not worth reviewing yet)

[2021-11-19 14:56] fromanirh commented on #51
https://github.com/jaypipes/ghw/pull/288 is now reviewable

[2021-11-19 17:21] #51 closed

[2021-11-22 07:48] fromanirh opened #289 "update golang stack in CI"
Currently we support golang 1.14, 1.15 and 1.16 on CI. Golang 1.17 was released quite some time ago and got already patch releases, and golang 1.18 is not too far ahead.
Let's rotate our supported versions and run golang 1.15, 1.16 and 1.17 on CI.
I expect new lint/fmt fixes coming with this update.

[2021-11-22 13:46] jaypipes commented on #289
Agreed, @fromanirh. I've been developing with 1.17 on my local workstation for a while now. Our [go.mod is currently at `1.12`](https://github.com/jaypipes/ghw/blob/004673db31bce4f54fa4f5525a9712d03710e999/go.mod#L3). Shall we up that to 1.15?

[2021-11-22 13:49] fromanirh commented on #289
Yes. I'do as part of this PR

[2021-11-23 14:09] #289 closed

[2021-11-24 21:35] lukashartl opened #291 "NIC on Windows has IsVirtual always set to false"
On Windows all NICs have `IsVirtual` set to false, as seen on these lines of code:

https://github.com/jaypipes/ghw/blob/b1b38be8a0b23a04caf8debe02fa6a0599bc5908/pkg/net/net_windows.go#L44-L49

The data is obtained via the following WMI Query:

https://github.com/jaypipes/ghw/blob/b1b38be8a0b23a04caf8debe02fa6a0599bc5908/pkg/net/net_windows.go#L14

`Win32_NetworkAdapter` has an attribute called `P

[2021-11-25 15:01] jaypipes commented on #291
@lukashartl nice catch! yes, feel free to push up a PR and I will review ASAP! :)

[2021-12-01 17:08] rareinator commented on #266
So I know this is a kinda old issue but just ran into this issue as well. Looks to be because of the way diskutil reads the drives from MacOS.
When I run the `diskutil list` i get 3 total drives, one being marked as (internal, physical). Which seems to be the right one, and then a second one marked (synthesized), which seems to be something that occurs because of the APFS filesystem.
It was introd

[2021-12-02 14:38] jaypipes commented on #266
Hi @rareinator and @Migulon! sorry for the delay in looking into this, and thank you @rareinator for providing some hints as to why this is happening on MacOS. I don't have a Mac handy at this point to experiment with, unfortunately, which is part of the reason why Mac support in ghw is so much behind Linux and Windows.

[2021-12-02 16:08] rareinator commented on #266
Hi, @jaypipes yeah no worries 😃 I looked into it a bit last night and from what I could gather it seems that the -plist option returns the APFS scheme with a key called APFSPhysicalStores.
If you need anything else from me you can always reach out, I can also upload the entire output on Pastebin or something😃

[2021-12-03 08:50] taigrr commented on #256
My fork (created to solve exactly this issue) treats a disk without partitions as if it has one partition. See tag 0.8.0-1:

https://github.com/taigrr/ghw/tree/v0.8.0-1

[2021-12-03 09:39] fromanirh commented on #256
This is very similar to what I had in mind to fix this issue. Would you be interested in sending a PR with your fix?

[2021-12-03 18:30] taigrr commented on #256
No problem

[2021-12-03 18:34] taigrr commented on #256
See #293

[2021-12-17 20:38] ArkAngeL43 opened #295 "I am surprised"
you know usually some of this would be written in assembly ( i really thought most of it would be ) due to assembly being able to grab direct vendor strings but its quite cool you all were able to make this from pure go

keep up the great work!

[2022-01-05 15:25] jaypipes commented on #295
Thanks very much for your kind words, @ArkAngeL43! :)

[2022-01-05 15:25] #295 closed

[2022-01-05 17:08] ArkAngeL43 commented on #295
of course! keep up the great work

[2022-01-19 08:11] nevermore-muyi opened #296 "May disk's driver type need more checks"
As the code [https://github.com/jaypipes/ghw/blob/main/pkg/block/block_linux.go#L271](https://github.com/jaypipes/ghw/blob/main/pkg/block/block_linux.go#L271) shows, when I create a device mapper device which starts with **dm-** prefix, and the function [https://github.com/jaypipes/ghw/blob/main/pkg/block/block_linux.go#L316](https://github.com/jaypipes/ghw/blob/main/pkg/block/block_linux.go#L274)

[2022-01-19 14:38] jaypipes commented on #296
@nevermore-muyi hi! thanks for your submission!

Are you suggesting that instead of returning an UNKNOWN disk type, we should check for whether the disk is rotational, and if not, return SSD disk type?

[2022-01-20 01:17] nevermore-muyi commented on #296
@jaypipes Maybe a little different. I suggest only KNOWN disk type needs more check if it's rotational and define it's a SSD, but UNKNOWN disk type, just return it?

[2022-01-31 06:45] avishayt opened #297 "Properly detect iSCSI disks"
iSCSI block devices are currently detected as "HDD" - it would be beneficial to detect them as "iSCSI".

[2022-01-31 06:47] avishayt opened #298 "Properly detect dm devices"
With multipath, we currently see that the drive type is "unknown".  It would be great to see it as "multipath" or even something more generic such as "mapper", and it would be even greater to see which other devices were associated with it.

[2022-02-23 08:20] rockrush commented on #199
/proc/cpuinfo seems to be variable across platforms, should we use sysfs (like lscpu) instead ?

[2022-02-23 13:23] jaypipes commented on #199
I would definitely be open to this idea, @rockrush.

[2022-02-28 16:02] rockrush commented on #199
I'm working on it, hope to finish by 3.6.
Due to lack of (multi-socket) hardware, qemu(machine type virt-6.2) is used.  The change would inpact on currently working platforms, so needs been tested on both ARM64 and x86(may be more) before merged safely.

[2022-03-01 15:35] rockrush commented on #199
Test env: 2 cpus, with 2 cores each, that supports 2 threads. Not finished yet ...
rockrush@debian-aarch64:~/ghw$ ./ghwc cpu
cpu (2 physical packages, 4 cores, 8 hardware threads)
 physical package #36 (2 cores, 4 hardware threads)
  processor core #56 (2 threads), logical processors []
  processor core #116 (2 threads), logical processors []
 physical package #176 (2 cores, 4 hardware threads)

[2022-03-11 15:16] fromanirh commented on #296
I tend to agree the code should not set the drive type depending only on the value of `rotational`

[2022-03-19 19:21] taigrr opened #306 "ghw-snapshot broken on Linux >= 5.16-rc3: hugepages demote"
ghw-snapshot no longer operates as expected on newer releases of the Linux kernel because it attempts to copy the demote interface (by glob expansion) from inside hugepages sysfs. The demote interface is, as per the spec, write-only and therefore cannot be copied.

This is easily reproducible on any system running the latest Linux kernel (discovered when attempting to run on up-to-date Arch Linux)

[2022-03-21 10:52] taigrr commented on #306
Hey @fromanirh while I have your attention here, if I could get you to take a look at this as well, hopefully this is a much easier review.

[2022-03-21 10:55] #306 closed

[2022-03-24 14:51] jaypipes commented on #297
@avishayt Sorry to get to this so late, but iSCSI is not the drive type, AFAIK. SCSI is the storage controller interface, and all iSCSI drives should appear as HDD drive type and SCSI storage controller... is there a reason we needed a separate iSCSI drive type?

@fromanirh I am considering reverting this PR...

[2022-03-24 15:10] fromanirh commented on #298
That's a good point indeed. These are abstractions provided by the linux kernel which happen to be presented using the same interface as the real devices. From this perspective it is out of scope from a hardware abstraction library.

Maybe it's too early, but it seems there it seems to be a trend emerging about features like DM and loopback which are not hardware proper but are traditionally model

[2022-03-24 15:10] jaypipes commented on #298
@avishayt @fromanirh I might be convinced to add an entirely separate Go package for devicemappers, though. Such a package would treat device mappings/mappers as a separate construct (that would reference `pkg/block.Disk` structs within it.

[2022-03-24 15:33] jaypipes commented on #296
@nevermore-muyi we are considering creating a separate package for devicemappings/devicemapper. [See conversation here](https://github.com/jaypipes/ghw/issues/298).

[2022-03-28 03:26] nevermore-muyi commented on #296
Got it. Looks very cool.

[2022-04-17 05:36] huyuan1999 opened #314 "GPU information cannot be queried after virtual machine GPU pass through. By traversing the PCI information, it is found that the driver is not NVIDIA but vfio PCI. Can I add a vendor Name judge whether the PCI identification is GPU"
// @Time    : 2022/4/16 1:38 下午
// @Author  : HuYuan
// @File    : main.go
// @Email   : huyuan@virtaitech.com

package main

import (
	"fmt"
	"github.com/jaypipes/ghw"
	"github.com/sirupsen/logrus"
	"os"
	"strings"
)

func Exists(path string) bool {
	_, err := os.Stat(path)
	if err != nil {
		if os.IsExist(err) {
			return true
		}
		return false
	}
	return true
}

func IsDir(path string) bool {

[2022-04-29 13:49] fromanirh commented on #314
Hi @huyuan1999 ! Thanks for the report. I understand parts of the problem, because indeed inside a VM a VFIO device can be misreported, but I'm not completely sure what's the question here, could you please elaborate?
Are you requesting for example a way to override the `pci.db`?

[2022-05-10 07:53] ffromani opened #317 "replace ethtool invocation with go packages"
To get the network interface properties on linux, we invoke the `ethtool` command. This works, but we can simplify our flow and avoid to depend on a external, not-installed-by-default tool by consuming go packages. We should evaluate this option and change accordingly if we reach consensus.

[2022-05-10 07:55] fromanirh commented on #317
this can probably be a post 1.0.0 item

[2022-05-10 14:32] Itxaka opened #319 "drop use of blkid on block_linux.go"
We currently only use the lsblk binary for getting the partition UUID: https://github.com/jaypipes/ghw/blob/main/pkg/block/block_linux.go#L279

This means that we need elevated permissions for that, as blkid requires privilege elevation. Fortunately we have `udevInfoPartition` which requires zero privs and can produce the same UUID (`ID_PART_ENTRY_UUID`).

Changing that would allow us to drop the

[2022-05-10 14:44] fromanirh commented on #319
yes please, IMO wherever makes sense and it's practical (for example no feature regressions) we should not invoke external tools

[2022-05-10 22:57] mudler commented on #133
Sorry for resurrecting an old thread, but I'm hitting this on a real live alpine system, where udev is running:

[code]

I'm trying to read the data from `/udev`, but indeed something looks off as there is no data:

[code]

ghw seems indeed to be able to detect the partition numbers, but not any details from it

[2022-05-11 03:25] jaypipes commented on #133
Hi @mudler! Would you mind opening a new issue for this please? Also, please let us know what version of `ghw` you are using. We actually just recently merged a couple commits that fix up Partition labeling on the main branch but not yet in a point release. I'm wondering if you might be able to pull the latest SHA for ghw and see if the latest still has the issue for you?

Best,
-jay

[2022-05-11 13:45] #319 closed

[2022-05-11 17:12] mudler commented on #133
Hi @jaypipes ! thanks for the quick response!

After some debugging it turned out that it was a configuration issue. On alpine it seems that the `udev-trigger` service needs to be enabled as well in order to populate properly the udev db.

Thanks again!

[2022-05-24 19:04] red-0ne commented on #314
I think what @huyuan1999 is looking for is a way to determine if a PCI device with a nvidia `device.Vendor.Name` is a GPU or not.
Since `device.Driver` does not return `nvidia` but `vfio-pci`, we cannot rely on that property.

We are facing the same problem here. A possible workaround would be to check if `device.Class.Name` is a `Display controller`. @fromanirh is it reasonable to do it that  way

[2022-05-27 17:02] fangdichan opened #322 "implement PCI module on Windows"
I try this on win10, but it gives me that error: pciFillInfo not implemented on windows

[2022-06-12 15:04] graf0 opened #323 "github.com/StackExchange/wmi is archived, change it"
Hello!

github.com/StackExchange/wmi is archived, and there is suggestion to change it & use this fork: https://github.com/yusufpapurcu/wmi

[2022-06-12 21:54] rare-magma opened #324 "too many open files error when using ghw in gotop client"
hi!

Thanks for putting this library together, it's quite useful!

I'm trying to integrate it with gotop (cli activity monitor) to gather info about the disks in a machine in this PR: https://github.com/xxxserxxx/gotop/pull/221

Unfortunately after a few minutes ghw.Block() or ghw.Host() end up causing a "too many open files" error.
Any idea on what might be the cause for this issue?

[2022-06-12 22:07] rare-magma commented on #324
Actually nevermind, it seems that the issue is related to the https://github.com/anatol/smart.go library and not ghw.
Sorry for the noise!

[2022-06-12 22:07] #324 closed

[2022-08-11 09:42] IvanRibakov opened #326 "Panic when collecting host information"
During the execution of this line of code in a VirtualBox VM running CentOS 8, go panicked with the following message:

[code]

[code]

Go script was executed with root privileges.

Any insights into what might be causing this?

[2022-08-30 07:33] xia0bai commented on #322
same

[2022-09-23 09:16] fromanirh commented on #326
Hi @IvanRibakov . I believe `ghw.WithDisableWarnings()` is not a contributing factor. Could you please doublecheck you get the same error without that value?
The real error seems to be in the pci database parsing. If so we would probably need to file an issue in github.com/jaypipes/pcidb. But even before that: do you perhaps have a minimal reproducer we can use to better investigate the problem?.

[2022-09-23 09:16] fromanirh commented on #323
Hi @graf0 thanks for your headsup. We will evaluate depencency replacement as soon as possible.

[2022-09-23 09:17] fromanirh commented on #322
Hi @fangdichan this is unfortunately not a bug but an implementation gap. We would need contribution to enable the PCI device lookup on windows, because none of active contributors is a windows user.

[2022-09-29 13:10] allberson commented on #322
@fromanirh is there some prevision on when this functionality will be available? Is there a way to run ghw on windows whithout the implementation of pciFillInfo?

[2022-09-29 13:15] fromanirh commented on #322
AFAIK noone is working on this, but we'll gladly accept patches (cc @jaypipes ). You can totally use parts of `ghw` on windows, for some of them there is already support on windows, and what's supported will be kept.

[2022-09-29 13:49] allberson commented on #322
@fromanirh sorry for the inconvenience, but how to I compile (make) ghw without specific modules, like pciFillInfo?

[2022-09-29 13:57] fromanirh commented on #322
no problem at all :)
if you import the ghw packages in your project, you can just import the packages you need [1]
If you need to use the `ghwc` tool - `https://github.com/jaypipes/ghw/tree/main/cmd/ghwc` you can't compile out packages yet, but you can use some of the subcommands, for example `cpu` and they should work on windows.
Unfortunately I don't have a list handy of what works on windows, b